[2014-05-15 14:43] srossross opened #1 "More output on submit"

[2014-05-15 14:48] srossross opened #2 "Git Checkout from the command line"

[2014-05-15 14:48] srossross opened #3 "Binstar Cron tasks"

[2014-05-22 19:40] bkreider opened #4 "tail results in internal server errors."
[code]

[2014-07-01 15:36] asmeurer opened #6 "Python 3 support"
Python 3 support would be great.

[2014-07-04 03:05] mwiebe opened #8 ""binstar-build init" from docs doesn't work"
http://docs.binstar.org/continuous_integration.html says:

but if I try this:

[code]

[2014-07-08 20:33] #6 closed, assigned to nobody

[2014-07-08 23:13] #4 closed, assigned to nobody

[2014-07-17 15:43] #1 closed, assigned to nobody

[2014-10-31 15:40] mrocklin opened #14 "Specify dependency channels"
My project depends on other packages in other channels.  How do I reference these in my build/test script?

E.g. development Blaze depends on development versions of DyND and datashape.  These are also hosted on binstar, how can I point to these versions in my conda recipe or binstar.yml script?

[2014-10-31 15:41] mrocklin opened #15 "Overlapping css at http://docs.binstar.org/draft/build/build_cli.html"

[2014-10-31 15:43] #15 closed, assigned to nobody

[2014-10-31 15:58] mrocklin opened #16 ".binstar.yml not found"
[code]

A few notes
1.  Error says that binstar.yml doesn't exist.  I disagree
2.  Small language nit "Please add one this file to submit builds" should maybe be "Please add this file to submit builds.  See http://.... for help/examples.
3.  Text `Using binstar api site http://api.alpha.binstar.org` is repeated

[2014-11-20 18:09] pitrou opened #19 "Missing requirement"
[code]

[2014-12-05 04:38] jf--- opened #20 "Build: selector expression ignored on .binstar.yml"
The following seems to suggest that the .binstar.yml file does not respond to platform selector.
I'm building for linux64 hence do not expect that the *conda install -c https://conda.binstar.org/jf freeimage* command is executed

[code]

 resulting binstar build

[code]

[2014-12-11 20:44] asmeurer opened #21 "AttributeError: 'NoneType' object has no attribute 'user' with binstar-build tail"
[code]

[2014-12-11 21:01] asmeurer opened #22 "Logging error at the end of binstar-build tail -f"
[code]

This is from `binstar-build tail conda/conda-build 29.0 -f` (https://binstar.org/conda/conda-build/builds/29/0)

[2014-12-12 16:47] srossross opened #23 "UI Feedback about binstar build"
Hello,

Some comments:
- [x] build pages (http://alpha.binstar.org/antoine/numba/builds/32) have no option to cancel a build (if running) or retry it (if done / cancelled)
- [ ] build pages don't show the submit date & time
- [ ] build pages don't show the submit metadata (e.g. git changeset, or tarball (if kept on the server), or tarball hashsum)
- [ ] build pages don't use the same icons and col

[2014-12-12 21:54] #2 closed, assigned to nobody

[2014-12-12 21:54] #19 closed, assigned to nobody

[2014-12-12 21:55] #21 closed, assigned to nobody

[2014-12-12 21:56] #16 closed, assigned to nobody

[2014-12-12 21:56] #3 closed, assigned to nobody

[2015-01-12 16:44] cehbrecht opened #24 "patch is missing in docker linux-64 image"
some of my recipes use the patch mechanism in the conda build. For this patch needs to be installed:

yum install -y patch

Maybe you would like to add it to the dockerfile ...

[2015-01-12 17:04] srossross commented on #24
I will add that and post back here when it is online.

[2015-02-05 23:38] tswicegood opened #27 "bug in binstar-build tail logging output"
https://gist.github.com/tswicegood/cfbc0bbb2b20ffe9bd9d

Not sure what this is, but appears the messages need to be chunked up before getting sent over the wire.

[2015-02-10 07:29] pzwang opened #30 "Code does not handle mixed-slash paths on Windows"
In https://github.com/Binstar/binstar-build/blob/master/binstar_build_client/utils/__init__.py#L7, the code should be changed to call `os.path.split()`.

I looked elsewhere in the codebase and found no other uses of `pathsep` so I think this is the only instance of this particular problem.

This problem led to a build failure here: https://binstar.org/javascript/mocha/builds/1/4.  In case that bui

[2015-02-10 15:38] tswicegood commented on #30
How could this mixed slash path get generated? It's a good idea to use `os.path.split` to be sure, but I'm more worried that there's code dealing with a path that doesn't use `os.path.join`.

[2015-02-10 15:50] srossross commented on #30
@pzwang, @tswicegood, In the code `os.pathsep` is a `:` on posix and a `;` on win32. This is to split the directory components of a `PATH` environment variable. `os.path.split` will split the directory components of a path, which it not the intent of the code here.

I think the solution is to add `os.path.isdir(entry)` above `if conda_ext in os.listdir(entry):`

[2015-02-10 16:01] pzwang commented on #30
You're right, I misread the intent of the code and the traceback.  Agreed @Sean, `isdir()` is the right thing, but the next question then is how the glob made it into this part of the code?

[2015-02-10 16:13] tswicegood commented on #30
See [my comments][1] in #29.  I'm not sure why that custom code is even in place.  That's the job of conda.  It used to be doable by parsing the data out of `conda info`, but I've since added an option that outputs just the root directory.

[1]: https://github.com/Binstar/binstar-build/pull/29#issuecomment-73727288

[2015-02-10 16:21] srossross commented on #30
I think that the glob is a part of the win32 `PATH` variable. eg `PATH=C:\Users\binstar\conda-build-miniconda\Scripts/*.*;`

[2015-02-10 19:04] tswicegood commented on #30
@srossross if that's the case, how did `PATH` end up with `/*.*;` appended to the end of it?

[2015-02-10 19:11] srossross commented on #30
To me, it looks like that happened outside of the binstar-build script.

[2015-02-10 19:16] tswicegood commented on #30
That seems odd, but looking through the code I don't see a place where it appears to modify the path.  What runs that code?

[2015-02-19 07:20] faph opened #32 "binstar-build does not accept `about: readme:` in `meta.yaml`"
The binstar-build clients seems to suggest that the following is invalid inside the conda `meta.yaml`

[code]

Although this option is not documented (possibly a reason why there's so little detail on packages on binstar.org), it works perfectly fine in a local conda build.

I'm sure there's valid reasons why binstar-build checks `meta.yaml` but should it not be primarily up to conda build to deci

[2015-02-20 02:08] tswicegood commented on #32
The README code is relatively new to conda-build (committed 17 days ago here https://github.com/conda/conda-build/commit/3f0a3a6e72cab2ff9c441f1309d42f85f72a0a81), so I imagine that's part of the issue.  One trick I've found is to include a `conda update --name=root conda-build` just to make sure that it's always on the latest.

That said, I'm assuming that binstar-build failed when running conda-

[2015-02-20 09:15] faph commented on #32
<https://binstar.org/openhydrology/autostatistical/builds/3/0>

Ah, yes, correct my fault, thanks! It is simply `conda build .` failing. I'd just assumed that it must have been the binstar client because my local build was ok. Didn't realise the readme was a new thing and also assumed that the binstar.org worker's conda was up to date. Many thanks for your help! Next time I'll use my own brain rat

[2015-02-20 09:15] #32 closed

[2015-03-09 15:07] srossross opened #34 "Build worker: Too many open files"
Build 15.10 Sumitted id:54fdad345e76834c30c1422c
This build is in the build queue "build-binstar-continuum"...
Building on worker 0021-osxserver.local (platform osx-64)
Starting build blaze/odo#15.10
Build Error: An unhandled exception occurred in the build worker---
Traceback (most recent call last):
  File "/opt/anaconda/lib/python2.7/site-packages/binstar_build_client/worker/worker.py", line 20

[2015-03-25 21:50] tswicegood opened #36 "binstar-build workers need to be able to target more than one channel"
Using a [single default channel][1] for automatically built packages breaks down when you’re working on multiple versions of software.  There needs to be a mechanism for having multiple channels, or automatically assigning a channel name.

## Use Case
I’m starting to work on a backwards incompatible change to [conda-env][] which means its version is going to get bumped to v3.0.0.  Since builds are

[2015-03-27 20:09] srossross opened #37 "Add -f option to submit"
Allow users to wait until the build is finished before exiting submit command

[2015-04-14 16:23] srossross opened #41 "Build Worker - pyOpenSSL unicode error on python2"
[code]

[2015-04-14 16:24] srossross commented on #41
@malev @asmeurer has seen this error before and says that it is an issue with the way that requests is interacting with pyopenssl.

[2015-04-17 19:46] malev commented on #41
We roll back to revision 19 (win 32 machine). That removed pyopenssl and that is how we fixed this **for now**

[2015-04-17 20:42] srossross commented on #41
@malev what is the `conda list` of the versions?

[2015-04-17 20:48] malev commented on #41
[code]

[2015-05-18 20:59] danielballan commented on #24
I also encountered this issue. Patch is still missing.

[2015-06-11 19:36] srossross opened #45 "Leaving garbage in the system when submission fails"
_From @mutirri on June 10, 2015 14:31_

If recipe crashes for any reason (it doesn't matter what cause that) then not everything is properly cleaned. The great example is running `phantomjs` for testing purposes.
I had to free some resources by killing a lot of hanging processes (63 some time ago, 48 of them one week ago and 11 today).

One possible solution for Linux - to be sure if we clean up a

[2015-06-11 19:36] srossross opened #46 "Errors while performing 'rmtree' on non empty directories"
_From @mutirri on June 10, 2015 14:25_

It seems that some cleaning functions - in particular conditions - can't be finished with success:
[code]

_Copied from original issue: Anaconda-Server/binstar-build-worker#13_

[2015-06-11 19:36] srossross opened #47 "Init service of build-worker for windows machines"
_From @mutirri on June 10, 2015 14:21_

This is just my theory.
Some time ago there was no `build-worker` for one of windows machines.
I logged into machine however my session was started from scratch.
Of course `build-worker` wasn't running there.
I started it manually and then it showed up in the web interface.

I think that if anyone is closing the session from windows machines then this action

[2015-06-11 19:36] srossross opened #48 "Growing up size of log files (stdout)"
_From @mutirri on June 10, 2015 14:17_

For example current size of logs equals to: 455MB, 645MB, 374MB, 404MB.
It cause a little delay when using chalmers log functionality (and it is going to proceed).
Checking old output of submissions also takes a little bit more time.
Besides, very long output from some building processes just hangs my browser (web interface).

_Copied from original issue: An

[2015-06-11 19:36] srossross opened #49 "The python interpreter errors on windows machines"
_From @mutirri on June 10, 2015 14:15_

From time to time I saw errors directly related to python interpreter - during user submissions.

![win64-python-crash](https://cloud.githubusercontent.com/assets/1040331/8084526/b8f4d636-0f8b-11e5-8690-6e62cc38017c.png)

Those dialog boxes showed up for couple of seconds and then just disappeared.
There was at least one error related to some internal window

[2015-06-11 19:37] srossross opened #50 "Probably somehow broken 'unregister' feature - invalid status on web page interface"
_From @mutirri on June 10, 2015 14:9_

We have one `win32` machine with `build-worker` (as far as I know).
On this machine was just one running binstar process: `binstar-build.exe`.

However on the page: https://binstar.org/organization/binstar/settings/build-queue
I saw two available workers.
Maybe `chalmers restart -a` command didn't properly perform `unregister` action.
Or maybe refresh time is

[2015-06-16 10:06] pitrou opened #51 "gcc too old on Linux builders"
See:
https://anaconda.org/antoine/llvmlite/builds/20/0
https://anaconda.org/antoine/llvmlite/builds/19/0 (different error message, but probably same underlying reason)

"""
215The selected GCC C++ compiler is not new enough to build LLVM. Please upgrade

216to GCC 4.7. You may pass --disable-compiler-version-checks to configure to

217bypass these sanity checks.
"""

(would be nice to fix that log

[2015-06-16 10:07] pitrou opened #52 "Some builders cannot decompress .xz files"
See:
https://anaconda.org/antoine/llvmlite/builds/20/2

One possibility is to install "unxz" on non-Linux builders. Another possibility is to switch to a Python 3 version of conda, since Python 3 has xz / lzma compression bundled in the stdlib.

[2015-06-16 10:11] pitrou opened #53 "Visual Studio 2013 needed on Windows builders"
See:
https://anaconda.org/antoine/llvmlite/builds/20/3

(note the Express/Community or SDK version is probably enough, no need for the full thing)

[2015-06-16 10:12] pitrou opened #54 "libstdc++ missing on some builders?"
See:
https://anaconda.org/antoine/llvmlite/builds/19/1

"""/usr/bin/ld: cannot find -lstdc++"""

[2015-06-16 10:13] pitrou opened #55 "Test step fails to install built package"
See:
https://anaconda.org/antoine/llvmlite/builds/19/2

The package has just been built but weird fails installing:

"""
554BUILD END: llvmlite--py27_0

555TEST START: llvmlite--py27_0

556Fetching package metadata: ........

557Error: No packages found in current osx-64 channels matching: llvmlite  py27_0

558command exited with status 1
"""

[2015-06-16 10:14] pitrou opened #56 "jinja2 missing on some builders"
jinja2 is a requirement when using templating conda-build configuration (meta.yaml)

See:
https://anaconda.org/antoine/llvmlite/builds/19/3
https://anaconda.org/antoine/llvmlite/builds/19/4

[2015-06-16 10:18] gmarkall commented on #53
I think VS2013 is installed already - I have successfully been using the CMake generator "Visual Studio 12 2013 Win64" - but not with the 120_xp toolset - could it just be a missing component?

[2015-06-16 10:25] gmarkall commented on #53
Thinking about it, maybe this is because I was not using the public queue for my builds.

[2015-06-16 10:26] pitrou commented on #53
Neither I am :) This is on the continuum private queue.

[2015-06-16 10:29] pitrou commented on #53
Oh, but the failing build is on the win32 builder. I agree the win64 builder is fine in that regard.

[2015-06-16 10:30] gmarkall commented on #53
Ah, I haven't tried that one.

[2015-06-16 10:46] mutirri commented on #56
These errors are 6 days old.
In last Thursday I installed `jinja2` package on all `linux` and `windows` machines.
So, right now this error should not appear for them anymore.

[2015-06-16 10:46] #56 closed

[2015-07-01 20:11] danielfrg opened #58 "Linux 64, Linux 32 and Windows boxes/queues are down"
I dont know if this is the right place, let me know if its not and i will move it.

Something is down in anaconda.org the boxes, the queues, i dont know. They have been down for a while. I am getting this error in all my builds:

[code]

[2015-07-08 11:22] mutirri opened #59 "Can't start binstar-build worker on win-32 machine"
Hi,

After upgrade `binstar-build` to version `0.10.7` I can't start the service on `win-32` machine:

[code]

Machine has connection to APIs:
[code]

[2015-07-08 11:33] mutirri commented on #58
Both `binstar-build` workers under windows machines were killed by this error:
[code]

Maybe the most weird thing here is that scripts wants to load entry point `0.8.3` and `binstar-build` is in version `0.10.7`.

[2015-07-08 11:41] mutirri commented on #51
Now public queue - the default one (`build/binstar/public`) has installed:
a) `gcc` in version `4.8.2`,
b) `llvm` (`clang++/clang`) in version `3.3`.

The private `build-binstar-continuum` queue has also the same software available.

Feel free to use them.

[2015-07-08 11:41] #51 closed

[2015-07-08 14:26] srossross commented on #59
@mutirri how many times did you try to connect the worker to anaconda.org?

[2015-07-09 06:19] mutirri commented on #59
Many times in 2-4 hour breaks.
This is a third day as worker is down.

[2015-07-09 15:04] srossross commented on #59
if you set the url to https://api.binstar.org does that affect the startup?

[2015-07-09 15:07] srossross commented on #59
I can start up multiple workers on my local machine. Can you think of any reason why this server error would only happen on win32?

[2015-07-09 16:41] mutirri commented on #59
I have no idea.
Now I can't restart even linux machines - this works just fine couple days ago (on new version also).

[2015-07-16 18:00] gmarkall opened #60 "NameError attempting to run a build with a worker on my local machine"
I am following the directions at: http://docs.binstar.org/build-config.html#BuildWorkers

I set up a queue for dynd with

[code]

Then I started the build worker:

[code]

Then I submitted a build from another terminal:

[code]

The following output came out of the build worker:

[code]

and the output of the build is at https://anaconda.org/dynd/libdynd/builds/15/0

What went wrong? Is there some

[2015-07-16 18:11] srossross commented on #60
Are you running this in python3? can you try running the worker in python2?

[2015-07-16 18:12] gmarkall commented on #60
I am - I will try with Python 2.

[2015-07-16 18:20] gmarkall commented on #60
That got a little further, but now it hangs in `conda clean -pt`: https://anaconda.org/dynd/libdynd/builds/17/0

[2015-07-16 18:42] srossross commented on #60
Try running:
[code]

[2015-07-16 19:42] gmarkall commented on #60
Thanks, that got over the issue. I've created a PR to update the docs.

[2015-07-16 19:42] #60 closed

[2015-07-24 16:55] jakirkham opened #64 "Add conda-server-build to anaconda channel"
Now that `binstar` is being replaced by `conda-server`, it makes sense that `binstar-build` be replaced by `conda-server-build`. However, this does not yet exist in the anaconda channel. Can this please be added?

Also, this line needs to be changed ( https://github.com/Anaconda-Server/conda-server-build/blob/develop/conda.recipe/conda.yaml#L19 ).

[2015-07-24 16:59] malev commented on #64
@jakirkham we are in the process to rename binstar-build into conda-server-build. Thanks

[2015-07-24 16:59] jakirkham commented on #64
Of course, I just ran into this transition today so was trying to take stock of where everything was.

[2015-07-24 17:04] jakirkham commented on #64
Partially help for this issue here ( https://github.com/Anaconda-Server/conda-server-build/pull/65 ).

[2015-07-29 08:03] mutirri opened #66 "Error during automatic start up of new submission"
**All** machines reported **the same** message when crashed:
[code]

The recipes that might cause some problems (they were submitted as last and are not properly cleaned up from worker internal `build_scripts` dir) are:
A)
user: @jreback
recipe: pandas
B)
user: @pitrou
pkg recipe: numba

Maybe these recipes influence somehow on how binstar worker is behaving.

[2015-07-30 20:14] jakirkham commented on #64
Looks like this is going to get renamed again.

[2015-07-31 17:14] ilanschnell opened #67 "rename git repo from conda-server-build -> anaconda-build"
Renaming the github repo from `conda-server-build` to `anaconda-build` would make sense.
The command line tool `binstar-build` should also be called `anaconda-build`.  I'm not sure what to call `conda-clean-build-dir`.

[2015-08-03 20:27] dougalsutherland commented on #27
FYI, I'm still getting this.

[code]

interspersed occasionally with my build output.

[2015-08-03 21:01] dougalsutherland commented on #27
Actually, this seems to be the same as #22.

[2015-08-10 09:17] izaid opened #70 "anaconda-build cannot download long messages"
Using my dynd-python package as an example, "anaconda-build tail dynd/dynd-python 25". This gives me a number of errors like:

Traceback (most recent call last):
  File "/home/irwin/miniconda/lib/python2.7/logging/handlers.py", line 862, in emit
    self.socket.send(msg)
error: [Errno 90] Message too long
Logged from file info.py, line 37

[2015-08-13 15:57] izaid opened #71 "Build logs are truncated either on anaconda.org or through the command line"
This has been an issue for me since August 7. Basically, I can no longer see the entire build log of any package. I don't of any way to get at the build log.

See https://anaconda.org/dynd/libdynd/builds/130/0, for instance.

[2015-08-13 20:23] ericdill opened #73 "Inside of a docker container, anaconda-build hangs on `conda clean -pt`"
I'm trying to spin up a docker container to serve as a binstar-builder for our internal anaconda/binstar server.  The builder is working (sort of), in that it is successfully receiving build commands from the anaconda/binstar server when I submit a binstar build request, but it is hanging when `conda clean -pt` is executed.  What's the best way to deal with this?

I would imagine that this can be

[2015-08-13 20:26] ericdill commented on #73
Oh, right, [these] (https://github.com/Anaconda-Server/anaconda-build/pull/33/files) are the files that I am referencing

[2015-08-13 20:54] ericdill opened #74 "python setup.py install fails"
`python setup.py develop/install` fails with the following error message

[code]

Given that there is no `conda-server` package on pypi, I'm confused why [this] (https://github.com/jakirkham/docker_ubuntu_drmaa_conda/commit/cd3b207f7f091b216fb42f0d350babb4b1148360) was merged?  Any advice on what to use instead? Revert this back to `binstar`?

[2015-08-13 20:54] ericdill commented on #74
Oh, nevermind, this is #69

[2015-08-13 20:54] #74 closed

[2015-08-13 20:55] ericdill commented on #74
Sorry for the noise :(

[2015-08-13 22:55] srossross commented on #73
Thank @ericdill we are currently working on this issue. to avoid it right now, you can run:
[code]

[2015-08-14 12:30] ericdill commented on #73
Ah ok, great. Thanks for the quick response. I'll just add that line to my dockerfile and be done with it :)

[2015-08-14 12:30] #73 closed

[2015-08-14 21:47] ericdill opened #75 "" --channel main" instead of " --channel dev" ?"
How do I make [this] (https://github.com/Anaconda-Server/anaconda-build/blob/aa9bf33d26908017684a45799528b79f90cfe77f/binstar_build_client/worker/utils/script_generator.py#L33) function return `--channel main`?

Right now my .binstar.yml file has

[code]

But that does not appear to be picked up in the build process, as seen [here] (https://anaconda.org/lightsource2/mongoengine/builds/2/2#L416)

[2015-08-14 21:47] ericdill commented on #75
(Also, is there a mailing list where I can ask these sorts of questions?)

[2015-08-18 07:53] pitrou opened #76 "References to binstar"
Still several references to binstar below:

[code]

[2015-08-18 08:19] pitrou opened #77 "Need a way to specify conda channels"
If some of the engines in your matrix need version-specific dependencies, and those dependencies are not in the main conda channels, you are stuck because you cannot set channels at this point.

An example is the Numba build matrix, where "singledispatch" is available in the numba channel, but not in the main channel:

[code]

There should be a binstar.yml option to enable additional channels. Tha

[2015-08-24 07:49] mutirri opened #78 "More info about available hardware resources available for each of build-worker"
Some users ask if they could get more information, like:
a) available total free disk space dedicated for build process,
b) available memory dedicated for build process,

The good place to present those information would be probably the below page:
https://anaconda.org/settings/build-queue

[2015-08-24 09:17] mutirri commented on #66
Still, from time to time is showing up the below error, what kills workers:
[code]

[2015-08-25 16:24] richardotis commented on #77
Does putting `conda build -c [channel] path/to/recipe` in your .binstar.yml do what you want?

[2015-08-25 17:21] richardotis opened #79 "Qt dependency missing(?) on linux worker"
[code]

[2015-08-26 18:30] #58 closed

[2015-08-28 06:13] ijstokes commented on #67
@srossross I think this has happened and this can be closed.

[2015-08-28 08:36] izaid commented on #71
Can I get help with this please?

[2015-08-28 08:38] izaid opened #80 "Anaconda server cannot find git"
The documentation (http://docs.binstar.org/examples.html) tells me that "binstar build MY_GIT_REPOSITORY" should work. So, when I try "binstar-build submit https://github.com/libdynd/dynd-python" (which is a repository that has a working conda recipe), I get "git: command not found".

https://binstar.org/izaid/dynd-python/builds/6/0

[2015-08-28 09:55] izaid commented on #80
This is also an issue when I simply "binstar-build submit ." with a local recipe.

[2015-08-28 10:14] mutirri commented on #80
`git command not found` was related to my maintaining tasks on docker images (I didn't recreate shortcut for git in `/usr/local/git/bin`) and your submission was using `build/binstar/public` queue.
Right now it is available:

[code]

And here is output from submitted task:
https://binstar.org/mutirri/dynd-python/builds/7/0

[2015-08-28 10:14] #80 closed

[2015-08-28 15:35] izaid opened #81 "Anaconda Cloud cannot upload packages that build and test successfully"
A package can build and test completely fine, but fail at the upload stage on anaconda.org.

For DyND Python, I was able to make it build and test successfully on Linux 64. But, at the upload stage, the pre-provided command simply fails. Here is an example of that: https://anaconda.org/dynd/dynd-python/builds/86/0. Here is the preceding build which built and tested fine: https://anaconda.org/dynd/

[2015-08-29 23:34] flamingbear opened #82 "conda build --output does not consider __conda_version__.txt"
I'm trying to put together a build workflow.  If you overwrite the default
version with a `__conda_version__.txt` file during your build, you don't have
access to the built artifact to push to anaconda.org with `conda build . --output`

I started in the anaconda-client/example-packages/conda directory and added a file
`__conda_version__.txt` with contents:

[code]

`$ conda build .`

[code]

`$ co

[2015-08-29 23:47] flamingbear commented on #82
The problem is that I want to overwrite a dev version on anaconda.org.

to upload I'd run:
`anaconda upload --force /Users/savoie/anaconda/conda-bld/osx-64/conda_gc_test-2.3.4-py27_1.tar.bz2`

but in reality since I don't know the artifact this would be ideal:
`conda build .`
``anaconda upload --force `build . --output` ``

I can set the build to upload in my `.condarc` with
`$ conda config --set

[2015-09-01 18:17] richardotis commented on #79
Today I re-launched a failed build with this error and it finished with no problems, so I'm guessing this is fixed now.

[2015-09-01 18:17] #79 closed

[2015-09-02 18:23] srossross opened #83 "Build worker should not auto register"
Currently the build worker registers itself, this should not be the case.

The build worker should no longer require a `-t token` argument and instead take a `worker_id`. The worker id would be generated from a previous step `anaconda build register-worker `.

We need to make sure that the UX still makes sense.

[2015-09-02 18:25] srossross opened #84 "Worker should run as user"
The worker should run as root and should execute the build script as another lesser user .e.g. `anaconda-worker`.

The worker should kill all processes for the `anaconda-worker` before a job starts and clean the home directory by removing it and replacing it with `/etc/worker-skel` on unix.

I'm not sure how to accomplish this on win32 machines

[2015-09-02 18:26] srossross opened #85 "Queues should have an info page at anaconda.org/user/queues/*"

[2015-09-02 18:29] srossross opened #86 "Script output should integrate with anaconda-server"
Right now the script output is just flat text. It would be great to have better reporting

Some examples:

 1. What command failed? highlight the bad command in red in the job page.

[2015-09-02 18:29] srossross commented on #82
Thanks @flamingbear we are taking a look at this now.

[2015-09-02 18:35] stephenakearns commented on #84
quick follow up note - Michael Sarahan was suggested as a possible Windows
Dev who may be able to help out with support for Win32/64

On Wed, Sep 2, 2015 at 1:25 PM, Sean <notifications@github.com> wrote:

--
*Stephen Kearns*
*Product Manager*

[2015-09-02 18:37] stephenakearns commented on #85
Page should contain the following information...
1. Queue name/ID
2. build jobs
3. build history
4. available workers and status (online/offline)
5. log files from the workers (maybe? not sure about this - maybe just
recent activity stream for worker status)

On Wed, Sep 2, 2015 at 1:26 PM, Sean <notifications@github.com> wrote:

--
*Stephen Kearns*
*Product Manager*

[2015-09-02 18:43] bkreider commented on #84
Can this be configurable?  Some places don't want things running things as root (or delegating access to users that might have a lot of privileges).  You could have multiple system users -- worker1-workerN -- that only have write permission to their home directories.

Is there a reason the build workers need to masquerade as a real person when building?

[2015-09-02 19:01] bkreider commented on #84
@mrduane You might have some good customer feedback for this issue since it would require customers to run it as root.

[2015-09-02 19:53] srossross commented on #84
@bkreider the goal of this is to better isolate builds,  do you have any recommendations of other directions we could take?

Yes, I was thinking of adding a `--build-user anaconda-worker` argument to enable this.

[2015-09-02 20:28] bkreider commented on #84
I don't think the build users need to be actual users or tied to the AS users at all.  I think if we can have it work without running as root and without using sudo, it will be much easier to sell.  If it needs sudo, if we can lock it down to a very few commands that need to run as sudo, that is very different than running as root.

Without thinking about this very long, here is a  hacky way of do

[2015-09-02 20:38] srossross commented on #84
I like this idea, an ssh option would provide more flexibility in other use cases as well. Do you think this solution would be robust enough to use in production?  What do you think the best `clean environment command ` would be? Would we use scp to copy the build script to `worker1@localhost `?

[2015-09-02 20:41] srossross commented on #84
This would make the assumption that the script was globally accessible. Maybe it should be stored on the anaconda-server and fetched with curl?

e.g. `worker1@localhost "curl anaconda.org/build-scripts/script?signature=SECURE > builds/user/package/script.sh && bash builds/user/package/script.sh"`

[2015-09-02 20:51] bkreider commented on #84
I think it is pretty solid for not using sudo/su/root/suid.  I was thinking of the enterprise use case.  In cloud, you would want to create the users from scratch each time to make sure they don't mess with the .bash_profiile, .bashrc in a way that clean isn't able to deal with.  There's way to lock it down further, but it is easier to create new users.

For enterprise, I think it is pretty strong

[2015-10-07 23:00] srossross opened #94 "Refactor build worker cli"
I think the cli should be split into worker and build eg
[code]

[2015-10-07 23:01] srossross opened #95 "worker should check that another worker is not using the id"

[2015-10-07 23:01] srossross opened #96 "Register list should show more information"

[2015-10-07 23:02] srossross commented on #96
It would be great to have information like `worker is running` and/or the `hotsname` in the list of workers.

[2015-10-07 23:02] stephenakearns opened #97 "Build: Test and Update Anaconda Build Documentation via fresh install"
changes to the SU worker as well as register/deregister and other updates as needed based on testing install/config

[2015-10-07 23:03] stephenakearns commented on #97
relates to PR #88

[2015-10-09 16:07] srossross opened #98 "Worker registration should not use `vars(args)`"
This leads to all sorts of irrelevant arguments int the worker file.

 * [ ] worker registrations should be changed into a class.
 * [ ] this class should be passed to  the worker as its own argument

[2015-10-12 15:28] PeterDSteinberg commented on #94
Would we have:
[code]
or use command line flags to ```anaconda build worker`` to indicate it's a su_worker?

[2015-10-13 22:10] PeterDSteinberg opened #100 "binstar upload missing argument"
There is sometimes a missing channel argument to ```binstar upload```.  Also ```binstar upload``` should be changed to ```anaconda upload```, I think.
[code]

[2015-10-13 22:36] PeterDSteinberg commented on #100
Earlier in the build log I noticed:
[code]

[2015-10-13 22:52] srossross commented on #100
This will vary from machine to machine.

[2015-10-14 11:44] emka opened #101 "build/binstar/public queue does not support svn"
I submitted a build from subversion source with ```meta.yaml``` containing

[code]
 to the ```build/binstar/public``` queue.

The build fails because there is no ```svn``` in the docker image:
```Error: svn is not installed```

Could you please add svn to the default image?

[2015-10-14 15:24] srossross opened #102 "Fix anaconda-build tests"

[2015-10-14 17:08] srossross commented on #66
This will probably be fixed with #89

[2015-10-14 17:08] #67 closed

[2015-10-14 17:51] srossross commented on #50
Is this fixed by #89?

[2015-10-14 17:54] srossross commented on #22
duplicate of #27

[2015-10-14 17:54] #22 closed

[2015-10-14 17:55] srossross commented on #30
Is was fixed with #31

[2015-10-14 17:55] #30 closed

[2015-10-14 19:21] #83 closed

[2015-10-15 00:16] srossross commented on #98
@PeterDSteinberg I'm looking at pulling #99 into its own PR now.

[2015-10-15 16:04] PeterDSteinberg commented on #50
@srossross I think the issue is likely fixed by #89, but I don't have a Windows machine to test.
@malev Could you check to see if the settings/build-queue page makes sense  when you are running windows workers today?  The page should show registered workers on each queue and that should be in agreement with the worker_id you have registered.

[2015-10-16 16:53] #94 closed

[2015-10-19 12:35] mmarchetti opened #108 "wakari-server builds persistently failing on upload"
for example: https://anaconda.org/wakari/wakari-server/builds/685/0

Build and test succeed, but upload fails with:
`[TypeError] cannot make memory view because object does not have the buffer interface`

down in the Requests library.

[2015-10-19 17:39] #98 closed

[2015-10-19 20:44] malev commented on #50
@PeterDSteinberg @srossross I can only see one windows registered so I believe this is ready to be closed. Opinions?

[2015-10-19 21:55] #50 closed

[2015-10-20 02:11] srossross commented on #108
[code]

[2015-10-20 12:58] mmarchetti commented on #108
It's not just the wakari-server failing with this error now - it appears to be all of the packages we attempt to build.

[2015-10-20 19:55] #95 closed

[2015-10-20 20:18] malev opened #112 "Update docs.anaconda.org"
Have a **getting started** guide that works!

[2015-10-20 20:54] srossross commented on #108
@mmarchetti I think this could be because I set up this build worker to use python3 Perhaps there is an issue with the python3 upload command... testing this now.

cc @rafaelhbarros

[2015-10-25 00:20] PeterDSteinberg commented on #70
This issue I have seen as well intermittently and it relates to the style of threaded logging done before the gevent change just recently and that logging's interaction with p0.stdout.close().  If we don't observe this bug for a while after the gevent logging merge, we should close this issue.

[2015-10-27 02:49] stephenakearns commented on #83
Hi Sean - I think this should be moved to the 2.9.4 release milestone. Can you update when you have a moment?

[2015-10-27 17:06] PeterDSteinberg opened #120 "anaconda-build does not install .bat, .sh default files"
In a new install, I am getting the error that the <code>data</code> dir is not being copied to the target installation dir.  This data dir should contain the default windows and bash build scripts:
When running a worker or su_worker, I encountered as root:

[code]
In a root install and root user:
ls /opt/anaconda/envs/anaconda.org/lib/python2.7/site-packages/binstar_build-0.12.1_86.g7022e44.dirty-

[2015-10-27 17:16] stephenakearns commented on #85
@goanpeca  please link out to other active issues and then close this duplicate

[2015-10-27 18:53] srossross commented on #82
@csoja should this be logged in the conda repo?

cc @stephenakearns

[2015-10-27 18:56] srossross commented on #71
This will be fixed with #118

[2015-10-27 19:09] srossross commented on #120
@PeterDSteinberg did you fix this issue? I think that this is working for me in the latest conda anaconda-build package.

[2015-10-27 19:19] srossross commented on #64
This is now released as `anaconda-build` in the default conda channels.

[2015-10-27 19:19] #64 closed

[2015-10-28 21:35] PeterDSteinberg opened #121 "UnicodeDecodeError in writing build log to server"
Just observed this using anaconda worker run ... and doing anaconda build submit ./anaconda-server --queue psteinberg/abc
[code]

[2015-10-28 21:39] srossross commented on #121
@PeterDSteinberg what commit are you on? can you pull and try again?

[2015-10-28 21:49] PeterDSteinberg commented on #121
I should have mentioned above that I am seeing this in the feature/su_build_users branch after merging develop's gevent related code into there.  I just tested on the latest develop and this UnicodeDecodeError did not happen.

[2015-10-29 16:23] PeterDSteinberg opened #123 "Worker registration info as json at command line interface"
For
[code]
provide an --json flag to let the output be a single json for machine reading.

[2015-10-29 17:12] #120 closed

[2015-10-30 19:24] stephenakearns commented on #77
Add to Epic: productizing the build system

[2015-10-30 19:27] stephenakearns commented on #77
Hi @pitrou - can you take a look at #14 and see if this is a duplicate? If so, can you close this and update the description of #14 if needed?

[2015-10-30 20:33] PeterDSteinberg opened #126 "Retest su_worker after conda 1751 and 1752 issues are fixed."
The su worker branch is ready to merge, except for the fact that there were bugs in

[code]

After conda issues 1751 and 1752 are resolved, then retest su worker with an updated conda and merge the su worker branch into develop.

[2015-10-30 20:33] PeterDSteinberg commented on #84
I am closing this issue even though the PR is not merged yet.  Everything in terms of functionality and testing has been done on su worker, but there are two bugs in conda that are preventing final merge.  I will raise a separate issue for those two bugs and the related followup testing on anaconda-build's su worker after those conda bugs are fixed.  See #126

[2015-10-30 21:54] PeterDSteinberg commented on #126
And also merge this documentation PR at the same time as the su worker branch merge:

https://github.com/Anaconda-Server/docs.anaconda.org/pull/162

[2015-10-30 22:31] stephenakearns commented on #121
Hi @PeterDSteinberg  - @srossross is thinking this is fixed - can you review and close if appropriate.

[2015-10-30 22:33] stephenakearns commented on #123
@PeterDSteinberg please move to in progress or ready for review pipeline if appropriate

[2015-10-30 22:57] stephenakearns commented on #23
deferred to Epic: Productization of Build

[2015-11-02 12:02] goanpeca commented on #85
This is being tackled in Anaconda Server issues Anaconda-Server/anaconda-server#870 and Anaconda-Server/anaconda-server#871

[2015-11-02 12:02] #85 closed

[2015-11-02 18:23] #112 closed

[2015-11-02 20:26] stephenakearns commented on #85
To see an example of this page - go here: https://beta.anaconda.org/binstar/queues/

[2015-11-03 17:30] stephenakearns opened #127 "Build: understand what Cluster team needs to get them up and running with Build"

[2015-11-03 17:32] stephenakearns opened #128 "Build: work with Accelerate team to get them up and running with Build"

[2015-11-03 22:01] srossross opened #129 "deregister should have a --all argument"
This should deregister all workers running on this machine.

[2015-11-03 22:01] srossross commented on #129
cc @quasiben @PeterDSteinberg

[2015-11-03 22:23] PeterDSteinberg commented on #96
This issue has been addressed already.  The ```anaconda worker list``` command shows hostnames and the pids for workers that are running.

[2015-11-03 22:23] #96 closed

[2015-11-04 16:37] stephenakearns commented on #127
Hi @damianavila I think from our sprint planning, you were going to look at this.

[2015-11-04 16:52] stephenakearns commented on #71
blocked until @ilanschnell releases 0.13.1 release of Anaconda Build. Cc: @csoja

[2015-11-04 16:57] ilanschnell commented on #71
Other people on the team, can release a new version of anaconda-build
also.  I'll be back in the office next Wednesday.
On Nov 4, 2015 10:52 AM, "stephenakearns" <notifications@github.com> wrote:

[2015-11-04 18:55] stephenakearns commented on #127
Sorry @damianavila  - my mistake - this one was correctly assigned to Marcos - fixed that.

[2015-11-05 13:17] damianavila commented on #127
No problem :wink:

[2015-11-06 18:18] #129 closed

[2015-11-08 20:52] malev commented on #127
@stephenakearns I talked with ben, they are open to start using AB. But we have to do 2 things in order to have that running:
* deploy AB 0.13.1 in linux-64, win and osx
* fix #572

There is a discussion about that [here](https://www.flowdock.com/app/continuum/anacondaserver/threads/tSBcvpTJ8TIrduI8X_NaphY7FDT)

[2015-11-09 01:52] stephenakearns commented on #127
thanks @malev - for point 1, can you clarify - are you referring to the release of AB 0.13.1 (that's happened and its available to install). I'm guessing you're referring to setting up workers using 0.13.1. If so, then I think that @srossross  may be setting these up on Monday

Re: point 2 - I see that Mike Marchetti posted a workaround - does that solve Ben's problem or does he still need a fix.

[2015-11-09 10:51] damianavila commented on #128
OK, this is the summary of the discussion:

**NOTE**: the emphasis with bold letters is mine, not Graham...

* The current build system is Jenkins: http://jenkins:8080/view/conda%20builds/job/conda_accelerate_pr/
* Jenkins just builds the conda recipe within the repository: https://github.com/ContinuumIO/accelerate/tree/master/condarecipes/accelerate

**Past experience**:
* The main problem Graham

[2015-11-09 10:53] damianavila commented on #128
I think this describe well the status and requirement from Accelerate to use the Anaconda build system... it is mostly a matter of support. Discussion can follow up here, but from the sprint point of view, this should be considered DONE. So closing.

[2015-11-09 10:53] #128 closed

[2015-11-09 16:22] gmarkall commented on #128
Thanks for writing those notes up, @damianavila !

I just want to clarify a couple of things in the "next experience" section:

* The potential issue that I wrote to you about with the mkl-devel package being only on filer, I resolved already by creating a private channel and uploading it there, so that build workers that have the accelerate channel token can pull down the mkl-devel package from t

[2015-11-09 16:37] stephenakearns commented on #97
Hi @amccarty  - how did this one go? Any updates before the standup today?

[2015-11-09 17:15] amccarty commented on #100
Having the same problem here. Upload works fine via `anaconda build submt .` however `--channel` value is missing via git push:

**git push:**

[code]

**anaconda build submit .**

[code]

[2015-11-09 18:56] damianavila commented on #128
Thanks @gmarkall for the addendum!!

@Anaconda-Server/as-devs more feedback ^^^

[2015-11-09 19:06] amccarty commented on #100
I found that if i use `anaconda build save` to save the settings (with `--channel dev`) the CI -> Edit -> Channel field on the build page gets updated and the git push method builds and uploads to the dev channel. I think we should default to **dev** for upload as without specifying a channel the package can't (AFAIK) get uploaded anywhere. The CI options show the Channel as "optional" with  **dev

[2015-11-10 04:12] stephenakearns commented on #100
@rafaelhbarros - I think there may be a duplicate of this somewhere - no action required, but heads-up in case you run across it.

[2015-11-10 04:19] stephenakearns commented on #97
Hi @amccarty - I think I saw an FD note saying that you added your notes somewhere, but I'm not seeing them here or in the other linked issue. Did you just update the documentation directly? Overall, smooth process with good documentation?

[2015-11-10 15:31] rafaelhbarros commented on #100
I did run across it, that's the one I fixed.

[2015-11-10 16:35] goanpeca opened #135 "Better name for environment variables in Anaconda Build Recipe"
From @amccarty:

An export of environment variables for the sub-build
[code]

[2015-11-10 16:57] stephenakearns commented on #127
done - create new issue in next srpint to support cluster

[2015-11-10 16:57] #127 closed

[2015-11-10 17:14] stephenakearns opened #136 "Build: Resolve Cluster build issues"
Dependencies:
* [x] conda clean issue 1751 - conda/conda#1751
* [x] fix Anaconda-Server/anaconda-server#572 (derek - review)
* [x] deploy AB 0.13.1 in linux-64, win and osx (Sean: ramp up Kamill/Troy)

Success Criteria
* [ ] Loop back with @quasiben to confirm working build for cluster

[2015-11-10 19:59] #100 closed

[2015-11-11 22:05] rafaelhbarros commented on #136
Waiting for conda merges

[2015-11-12 03:00] srossross commented on #70
This is fixed in the latest release. please re-open if you see it again.

[2015-11-12 03:01] #70 closed

[2015-11-12 03:03] srossross commented on #102
fixed in 0.13.2 release

[2015-11-12 03:03] #102 closed

[2015-11-12 03:52] srossross commented on #27
This is fixed in the latest release.

[2015-11-12 03:52] #27 closed

[2015-11-12 03:57] srossross commented on #24
I added patch, sorry this issue got side buried.  patch will be included the next build box update.

[2015-11-12 04:00] srossross commented on #20
@jf this issue appears to have been buried and not closed.  Let me know if you have any more questions.

[2015-11-12 04:00] #20 closed

[2015-11-12 04:01] jf commented on #20
I have no comments about this. Absolutely no comments at all.

[2015-11-12 04:04] jf commented on #20
I have no comments about this. Absolutely no comments at all. I'd be curious to know, though (cos I keep getting these sorts of messages) - did you type this out on a mobile? (and so you don't see the autocomplete or something)

[2015-11-12 05:10] srossross commented on #121
Closing this -- @PeterDSteinberg reopen if this is still an issue.

[2015-11-12 05:10] #121 closed

[2015-11-12 17:57] ijstokes opened #139 "Provide a build script (.anaconda.yml) to run on someone elses' repo"
I don't want to fork other peoples repos.  I just want to tell Anaconda Build "setup a webhook on this repo here, and when there is a commit on this branch, run this build script".  I want to provide the build script, that's it.

Is this possible right now?  It sure would be useful.

[2015-11-12 18:14] rafaelhbarros commented on #136
@stephenakearns Issue 1751 fixed in a merge. Now should I wait for the deploy or nudge someone?

[2015-11-12 19:15] ijstokes opened #140 "What goes into Anaconda build recipe and what goes into Conda build recipe"
I'm a bit confused by what `install:` means in a `.binstar.yml` build recipe.  Previously I would have put that information in my conda recipe's `build.sh` script.  What should go in `build.sh`?

I was referred to https://github.com/Anaconda-Server/anaconda-server/blob/develop/.binstar.yml#L14 which is what got me thinking about this and realizing now I don't understand how to use `.binstar.yml`.

[2015-11-12 19:45] ijstokes opened #141 "Packages configured to be uploaded aren't"
Take a gander at https://anaconda.org/ijstokes/serpent/settings/ci?edit=1 and you'll notice that all `master` commits should be uploaded.  Then take a look at https://anaconda.org/ijstokes/serpent/builds and notice how build 4.5-9 (which all built successfully) weren't uploaded.

[2015-11-12 19:50] srossross commented on #141
@ijstokes I don't have access to https://anaconda.org/ijstokes/serpent/settings/ci?edit=1 can you post a screen shot?

[2015-11-13 11:46] stephenakearns commented on #81
Hi @ijstokes - I see your new issue #141 - can you review this issue and let me know if it's a duplicate or a different issue?

[2015-11-15 03:51] ijstokes opened #142 "Unexpected behavior for setting up build env"
Two observations:

1. It is weird that the build process creates a conda environment in the directory `/opt/anaconda/env`.  That is the standard **container** directory which holds all environments, such as `/opt/anaconda/env/foo`.  No one would ever expect to `source activate /opt/anaconda/env`, but instead it should be `/opt/anaconda/env/foo`.  While this is somewhat of a technicality, it is wei

[2015-11-15 03:55] ijstokes commented on #141
@srossross I've added you as a collaborator on the package, but here are screenshots anyway (and for the sake of others who might try to either explain what I've done wrong, or figure out if this is a bug)

<img width="608" alt="screen shot 2015-11-14 at 10 52 41 pm" src="https://cloud.githubusercontent.com/assets/293525/11167117/77c9057a-8b22-11e5-8e87-2ed5f21d71bb.png">

<img width="419" alt="sc

[2015-11-15 04:38] ijstokes commented on #142
Another outcome of point 2: this leads to a whole awful lot of extraneous information at the start of the build log that has nothing to do with my package build.  Case in point:

* https://anaconda.org/ijstokes/nbpresent/builds/1/1

[2015-11-16 16:37] amccarty commented on #97
@stephenakearns I worked with @goanpeca and I believe he incorporated my notes into his updates.

[2015-11-16 16:44] dsludwig commented on #108
This is the same issue as anaconda-server/anaconda-client#222

[2015-11-16 16:49] goanpeca commented on #97
That is correct :-) :+1:

[2015-11-17 20:42] srossross commented on #108
Closing this issue because it is a duplicate.

[2015-11-17 20:42] #108 closed

[2015-11-18 22:12] #76 closed

[2015-11-18 22:23] stephenakearns commented on #136
See 1751 - @srossross has asked for patch release of conda (A dev build is not a recommended approach)

[2015-11-20 17:37] srossross commented on #142
@ijstokes do you think this could move to flowdoc or a wiki?

[2015-11-20 17:44] rafaelhbarros opened #145 "Conda Build: Improve error logging on each step of the build process"
Issues like Anaconda-Server/Anaconda-server#1015 are not easy to debug because the log doesn't exactly show what step it was running and what error happened.

CC @srossross

[2015-11-20 17:45] #145 closed

[2015-11-20 17:45] srossross commented on #145
This should be in the conda-build issues

[2015-11-20 17:49] srossross commented on #136
@ilanschnell when is the next patch release of conda planned?

[2015-11-20 18:01] ilanschnell commented on #136
Conda 3.18.6 was released yesterday, and it includes https://github.com/conda/conda/pull/1807

[2015-11-20 22:25] rafaelhbarros commented on #136
thanks @ilanschnell

[2015-11-20 22:47] srossross commented on #136
:trophy:

[2015-11-24 21:38] srossross opened #148 "SysCallError: (110, 'ETIMEDOUT')"
[code]

[2015-11-27 16:18] stephenakearns commented on #136
@srossross - I think you're working on this one - assigning over to you.

[2015-11-27 21:05] stephenakearns commented on #24
@srossross - based on your comments, I'm assuming this ready to be validated as soon as we are unblocked on Conda/Conda#1861. I'm moving to the "validate" pipeline. Please update if that's not the case.

[2015-11-30 22:05] rafaelhbarros opened #149 "Feature request: build alerts"
I would like to get completion warnings on the builds that were triggered by my pull requests.

Once I submit a PR I want the finished builds to send me an email, text or smoke signal saying the status of the finished build.

Bonus points if the relevant piece of the log is on the email somehow.

[2015-11-30 22:12] goanpeca commented on #149
:+1:

[2015-12-01 19:08] ijstokes opened #150 "Fix Windows build clients for Anaconda Cloud"
Windows build workers for the Anaconda Build System on Anaconda Cloud are not currently working.  They need to be fixed so we can do automated cross platform package builds.

[2015-12-01 22:51] ijstokes commented on #150
I'm told @tpowellcio is looking into this.  If possible, it would be super helpful if Anaconda-Server/anaconda-notebook#56 could be updated when this is resolved and closed.

[2015-12-04 19:31] srossross commented on #71
fixed

[2015-12-04 19:31] #71 closed

[2015-12-04 19:43] #24 closed

[2015-12-04 19:44] srossross commented on #24
Patch is now installed on the workers. You can now directly submit build worker improvements here: https://github.com/Anaconda-Server/anaconda-build/blob/develop/docker/linux-64/Dockerfile#L5

[2015-12-05 03:18] stephenakearns commented on #136
Hi @rafaelhbarros - now that the build system is working again with Mac and Windows, are we able to complete the work on this one? If yes, let's include it in next sprint - thoughts?

[2015-12-07 15:42] rafaelhbarros commented on #136
@stephenakearns: well, I don't know what is needed to be done one the cluster, but they can go ahead and see if their issue is solved.

So, please, let's include some work on the next sprint but I'll need some guidance if I need to do anything.

[2015-12-08 21:17] ContinuumJira commented on #136
I think Derek's been active on this -can you sync up with him?

On Mon, Dec 7, 2015 at 9:42 AM, Rafael Hoffmann de Barros <
notifications@github.com> wrote:

--
*Stephen Kearns*
*Product Manager*

*w: (512) 776-1096*
*m: (737) 444-0474*
*t: @stephenakearns*
*skype: stephen.kearns*

[2015-12-08 22:00] PeterDSteinberg opened #151 "setting some env variables based on numpy in 'engine'"
Sui mentioned this issue in flowdock.  His quote is below.  The idea is that we should detect numpy being part of the 'engine' in .binstar.yml and then set CONDA_NPY env variable automatically based on that.

I have a binstar.yml with:
engine:
    - python=2.7 numpy=1.9
    - python=2.7 numpy=1.10
    - python=3.4 numpy=1.10
    - python=3.4 numpy=1.9
It seems that anconda build does not set CONDA

[2015-12-09 16:16] ContinuumJira commented on #151
Hi Peter,
can you help me understand the impact of solving this problem a bit better:
(a) Bug or enhancement (reading the description it looks like something
changed in conda build which created this issue)
(b) Workaround exists? (seems like the answer is yes)
(c) time/effort for workaround?
(d) number of users who would use or benefit from this?

On Tue, Dec 8, 2015 at 4:01 PM, Peter Steinberg <n

[2015-12-09 16:20] goanpeca commented on #151
@stephenakearns is that you as jira again?

[2015-12-10 11:42] ijstokes commented on #142
@srossross I don't think this should be in Flowdock or a wiki: I think someone on the Anaconda Build team should consider my observations and either say "Actually, that is exactly how it is supposed to be for these good reasons" or "Huh, I agree, we should do something about those points, and here are three new issues to address the observations".

[2015-12-10 11:57] ijstokes opened #152 "Build packages aren't uploaded even when branch is configured for upload"
Commits to `master` should be flagged as `upload package` but they aren't.

https://anaconda.org/Anaconda-Notebook/hello-world/settings/ci

### Configuration

![screenshot 2015-12-10 06 54 46](https://cloud.githubusercontent.com/assets/293525/11714821/f1757b5a-9f0a-11e5-98e3-0aa3219a822d.png)

### Build Queue

![screenshot 2015-12-10 06 54 14](https://cloud.githubusercontent.com/assets/293525/1171

[2015-12-10 16:57] PeterDSteinberg opened #153 "traceback unnecessarily printed for nonexistent packages (list-all)"
When running ```anaconda build list-all psteinberg/does-not-exist-package``` I usually get:

[code]

which makes sense.  However sometimes I get the full traceback for that NotFound error, like this:
[code]

[2015-12-10 18:06] sklam opened #154 "Local .workers file can get out-of-sync"
Local .workers files can get out-of-sync when user deregister workers from the web interface.  Do we really need to have that file on locally?

[2015-12-10 18:22] ijstokes opened #155 "Build process should happen in /opt/anaconda/envs/tmppkgbuild"
The build process currently creates a conda environment in the directory `/opt/anaconda/env`.  That is the standard **container** directory which holds all environments, such as `/opt/anaconda/env/foo`.  This is the wrong place to create the build environment.  Instead it should be something like `/opt/anaconda/env/tmppkgbuilder` (pick a name of your choice).

Having it in the current location is

[2015-12-10 18:25] ijstokes opened #156 "Fix build process setup"
There appears to be some kind of initial "setup" that is, in fact, removing very standard packages that then immediately get re-downloaded and installed.  Any actions like that should happen in the process of creating the base build container image (i.e. once only), not at the start of every build.  Things like `python`, `setuptools`, `pip`, `readline` get removed and then immediately downloaded a

[2015-12-10 18:26] ijstokes commented on #156
Examples:

* https://anaconda.org/nbcio/nbpresent/builds/1/0
* https://anaconda.org/ijstokes/serpent/builds/5/5
* https://anaconda.org/ijstokes/nbpresent/builds/1/1

[2015-12-10 18:26] ijstokes commented on #155
Examples:

* https://anaconda.org/nbcio/nbpresent/builds/1/0
* https://anaconda.org/ijstokes/serpent/builds/5/5
* https://anaconda.org/ijstokes/nbpresent/builds/1/1

[2015-12-10 18:32] srossross commented on #155
@ijstokes the build process does not  create a conda environment in the directory /opt/anaconda/env

[2015-12-10 18:34] ijstokes opened #157 "Provide option to remove package install progress bars"
I **think** this is due to some part of Anaconda Build mechanics: my build logs are filled with progress bars that obstruct my ability to see what is actually going on with the package build.  Can these be turned off?  Or is this only a function of my conda recipe?

[2015-12-10 18:39] srossross commented on #156
@ijstokes this is done to ensure a clean build environment at the start of each build. **maybe** some of this can be moved to the end.

Because conda handles channels **extremely poorly**.  `conda clean -pt` should be run before the build starts.  For example if I install a `numpy` package from the `sean` channel, If it has the exact name/version as the numpy in another (or default) channel  the r

[2015-12-11 02:16] mmarchetti commented on #150
win-64 python 2.7 builds fail this way:
112IOError: [Errno 13] Permission denied: u'C:\\Users\\binstar\\Miniconda\\pkgs\\python-2.7.11-0\\DLLs\\_ctypes.pyd'
113Internal binstar build error: Could not set up initial build state

https://anaconda.org/anaconda-notebook/nb_locker/builds/7/6

[2015-12-11 02:47] mmarchetti commented on #150
this is 100% recreatable, all windows python=2.7 builds seem to be failing. May be related to python 2.7.11?

[2015-12-11 12:00] stephenakearns commented on #41
@dsludwig - Reading the comments on this bug, I'm wondering if this issue will also be closed when we get the updated requests lib. Moving it to the externally blocked pipeline. Let me know if that's not the case

[2015-12-11 17:32] ijstokes commented on #156
OK, I understand those challenges.  Two comments:

1. Does this mean builds don't start from an identical virgin conda/Anaconda setup each time?  If so, that feels like a more fundamental problem that needs to be addressed, perhaps by having a read-only package cache, a COW system where the deltas get blown away at the start (and maybe end?) of each build.

2. Redirecting all "common" output to a

[2015-12-11 17:56] ijstokes commented on #155
@srossross it does.  All the examples above have this behavior (which is why I included them for reference) and I've looked in others such as:

* https://anaconda.org/wakari/wakari-server/builds/682/0
* https://anaconda.org/anaconda-notebook/nbsetuptools/builds/18/0

since I got worried that it might just have been something weird I was doing (which I admit is often the case).

[2015-12-11 19:59] srossross commented on #155
Ian I don't where this is happening I can not find the text `/opt/anaconda` on either of those pages. you can see the build is env created here:

[2015-12-14 16:07] stephenakearns commented on #97
Hi @amccarty - checking in to find out the reason for reopening this one?

[2015-12-15 13:22] mmarchetti commented on #150
Is there any outlook on a fix for this issue? We're trying to wrap up work on our Jupyter extensions epic this week and automated build is one of the last pieces we need. We're blocked on this issue.

@Anaconda-Server/anaconda-repository

[2015-12-16 20:37] stephenakearns commented on #150
@trentoliphant made an update today - @mmarchetti testing...

[2015-12-16 22:28] srossross commented on #81
There is not enough info to reproduce the issue any more. A traceback is needed. reopen if the issue is still affecting the builds.

[2015-12-16 22:28] #81 closed

[2015-12-16 22:32] srossross commented on #141
@ijstokes you need to do the same as the test branch where you do `refs/heads/.*`, add  `refs/heads/master`  not `master`

[2015-12-16 22:32] #141 closed

[2015-12-17 15:17] PeterDSteinberg commented on #151
The workaround is cumbersome even for internal Continuum users.  I imagine outside users would not figure out the workaround.  The level of effort to fix it is a half day or less.  I would call it a bug fix.

[2015-12-18 06:42] PeterDSteinberg commented on #153
The uncaught exception only occurs when running ```anaconda build list-all username/nonexistent-package``` from a Python subprocess.

[2015-12-18 11:29] PeterDSteinberg commented on #151
Closing because #147 merged.

[2015-12-18 11:29] #151 closed

[2015-12-18 11:40] PeterDSteinberg commented on #156
@ijstokes  What is a COW system?

[2015-12-18 11:52] mutirri commented on #156
Copy-on-write. It gives you history of changes - allows to having snapshots/stagings/entry points on filesystem.

[2015-12-18 13:45] PeterDSteinberg commented on #156
This is perhaps a naîve idea: What about having an initialization script that runs during anaconda-build install to create several of the most common base environments, then the script copies the created package dirs somewhere else.  Later, on each build, instead of downloading the base packages and installing them, they could be installed or copied from the local cache created at install time?

[2015-12-18 13:51] PeterDSteinberg commented on #153
I have decided this is a non issue.  When running ```anaconda build list-all psteinberg/nonexistent``` in a subprocess I apparently had a different setting for ```--show-traceback```.  I'm now able to run in subprocess without the error.  Closing this issue.

[2015-12-18 13:51] #153 closed

[2015-12-18 14:06] PeterDSteinberg commented on #135
I agree ```envvars``` is a better name.  I'll make the change if I get a +1.

[2015-12-18 14:11] PeterDSteinberg commented on #126
@stephenakearns the conda issues 1751 and 1752 that were holding up ```su_worker``` have been merged.  Should I revisit this ```su_worker``` code now?

[2015-12-18 15:38] srossross commented on #156
@PeterDSteinberg The latest conda fixes will allow us to implement the su worker which will not allow modification of the /opt/anaconda directory.

I think this will solve Ian's issue.

[2015-12-18 15:39] srossross commented on #156
Also, I think it would be good if the conda cache directory was configurable so that each series of builds had its own cache of packages.

[2015-12-18 16:32] srossross opened #162 "Add new numpy engine and -r channel to the docs"

[2015-12-18 16:32] srossross commented on #162
cc @PeterDSteinberg @electronwill

[2015-12-19 14:26] goanpeca commented on #135
Hi @PeterDSteinberg you have a :+1: from my side :p,

@srossross ?

[2015-12-22 17:47] stephenakearns opened #163 "Build: Respond to End User question/comment in google forum"
https://groups.google.com/a/continuum.io/forum/#!msg/conda/QhlK6MApLUE/Lb50Bp26DQAJ

[2015-12-23 19:46] dsludwig commented on #152
@ijstokes if you change `master` to `refs/heads/master`, the package is uploaded. I assume the regular expression matches the ref instead of the branch name is so that you could choose to have other refs uploaded by default, such as every tagged commit: `refs/tags/.*`.

[2015-12-23 19:46] #152 closed

[2015-12-23 20:15] stephenakearns commented on #154
@srossross or @dsludwig could you share your thoughts on this question?

[2015-12-23 20:16] stephenakearns commented on #149
:+1:

[2015-12-23 20:22] stephenakearns commented on #136
Hi @quasiben - looking at the build results on Anaconda-Cloud for the Cluster team here: https://anaconda.org/anaconda-cluster/anaconda-cluster/builds

It seems like you are only building for Linux-64 and Mac-64. I was curious to know if you were ready to re-enable Win-64 (and other supported platforms) to see if they are building smoothly for you now? If yes, could you give that a shot and report

[2015-12-23 20:40] dsludwig commented on #155
Perhaps @ijstokes you are looking at https://anaconda.org/nbcio/nbpresent/builds/1/0#L216 ? This is `/home/anaconda/env` - the env directory in the anaconda user's home directory.

[2015-12-23 20:41] dsludwig commented on #162
Closed by anaconda-server/docs.anaconda.org#227

[2015-12-23 20:41] #162 closed

[2015-12-23 21:27] dsludwig commented on #163
@srossross what are the security implications of allowing root access inside the docker container? This would allow a user to install whatever packages they require, but would it permit them to escape/thwart the container?

[2015-12-23 22:15] rafaelhbarros commented on #163
From what I know, docker default state is to be super user. whenever you're in a container, you're SU.

So, unless the container as privileged, the host/engine will not break the containerization.

[2015-12-23 22:36] dsludwig commented on #41
This should be fixed with the latest releases of anaconda-client and requests.

[2015-12-23 22:36] #41 closed

[2015-12-24 01:17] quasiben commented on #136
Things are now working on all three platforms for Anaconda Cluster builds:
https://anaconda.org/anaconda-cluster/anaconda-cluster/builds/1397

[2015-12-28 05:41] lorinma commented on #163
Hi Steve,
Thanks for your reply.
I need freeglut3-dev and libx11 in my build on ubuntu. I was able to use local conda build after I install them. It will be helpful if the anaconda cloud build allow us to install those missing packages in before_script.
I guess it will require privileged container?

[2015-12-29 20:49] PeterDSteinberg commented on #150
I'll look into this now.

[2016-01-01 18:03] stephenakearns commented on #154
Adding @PeterDSteinberg to the thread - any thoughts Peter?

[2016-01-01 18:13] PeterDSteinberg commented on #154
I am working on a fix for this here in PR #165 . Sorry forgot to reference the original issue.

[2016-01-01 19:19] stephenakearns opened #166 "Bug: CI Builds not being triggered on specific branch"
## Logged by
@kwmsmith on the data portal projects

## Pre-requisite
to work on this issue: have me (steve) or @kwmsmith add you as an owner to the Data-portal organization in A-Cloud

## Description
- This branch ("remove-node-dist-files") is not triggering CI builds: https://github.com/ContinuumIO/dataportal/pull/122
- If you go to the builds page, you can see other branches being automatically

[2016-01-01 19:33] stephenakearns commented on #166
@dsludwig - by any chance would your fix in #164 help resolve this issue?

[2016-01-01 22:09] stephenakearns opened #167 "Tag Build pages in Anaconda Cloud and Docs with "Beta""
clarify the current build system is in beta (i.e. functional, but lots of room for improvement before being considered a polished product for customers)

[2016-01-04 16:24] kwmsmith commented on #166
@srossross let me know if you need other screenshots.

![Screen Shot 2016-01-04 at 10.23.28 AM.png](https://files.zenhub.io/568a9ca89706f372552d517a)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-01-04 16:25] kwmsmith commented on #166
@srossross let me know if you need other screenshots.

<img width="1020" alt="screen shot 2016-01-04 at 10 23 28 am" src="https://cloud.githubusercontent.com/assets/288771/12094297/708eb8cc-b2cd-11e5-89b3-fed533533635.png">

[2016-01-04 16:44] kwmsmith opened #168 "Bug: can't `conda install -c some-channel dataportal`"
The [DataPortal organization on Anaconda Build](https://anaconda.org/data-portal) has two packages:

* [dataportal](https://anaconda.org/data-portal/dataportal) and
* [lux](https://anaconda.org/data-portal/lux).

The `dataportal` package has been [successfully built and uploaded to Anaconda Build](https://anaconda.org/data-portal/dataportal/builds/61).

I'm trying to take it all the way home, but

[2016-01-04 20:01] dsludwig commented on #166
@kwmsmith can you take a screenshot of https://github.com/ContinuumIO/dataportal/settings/hooks as well?

[2016-01-04 21:58] dsludwig commented on #166
The fix in #164 only changes the label the artifacts would be uploaded to, it doesn't affect which branches are built.

[2016-01-04 22:11] stephenakearns commented on #150
Hi @PeterDSteinberg  - re-assigned this item to you based on your comments above. LMK if that doesn't work for you.

[2016-01-05 00:30] dsludwig commented on #77
This has been added recently: http://docs.anaconda.org/build.html#Install_Channels (the channels will be added before the environment is created). I don't think it has been released yet (as of 0.13.2)

[2016-01-06 02:39] stephenakearns commented on #126
@PeterDSteinberg yes - please, sorry just saw this comment today.

[2016-01-06 02:40] stephenakearns commented on #84
Hi @PeterDSteinberg - just commented on #126 - yes, let's revisit - did the conda fixes resolve your issues? (In another case, there have been secondary issues that emerged after the fix)

[2016-01-08 17:39] PeterDSteinberg opened #170 "Allow python 3.4 packages to list >=3.4 as a requirement"
An issue came up while helping @ijstokes build packages.  The goal was to build a single package on Python>=3.4, then have that built and uploaded package be installable in Python 3.4 or 3.5 environments.  What is the best way to specify something like this (I want to build on Python version X but have it installable on versions X and Y)?  It requires a change to .binstar.yml (changing ```engine``

[2016-01-08 17:44] ijstokes opened #171 "Support flexible versioning in spec from build engine"
If I have the following in my `.binstar.yml`:

[code]

And this results in my package getting an entry in `index.json`:

[code]

But what I would really like is to have:

[code]

And I'm wondering if there is some enhancement to `.binstar.yml` that might support this, for instance:

[code]

[2016-01-08 17:47] PeterDSteinberg commented on #170
Closing as simultaneous duplicate of #171

[2016-01-08 17:47] #170 closed

[2016-01-11 22:42] stephenakearns commented on #168
@kwmsmith - fix deployed to production today - can you validate and close this issue?

[2016-01-11 22:50] srossross commented on #171
@ijstokes the engine gets passed directly to `conda create` and to the `CONDA_PY` environment variable.

Currently I think that this specification is a limitation of conda. i.e. the **entire** conda  package can only be installed into a single python version. Let me know if you have any questions.

[2016-01-11 22:51] srossross commented on #171
You may want to re-open this in the conda-build repo.

[2016-01-12 14:13] zeehio commented on #24
@srossross I still get the `Did not find 'patch' in: /opt/miniconda/envs/_build/bin:/opt/miniconda/bin:/home/anaconda/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin` issue in the anaconda.org worker [ip-172-31-14-34-docker-0](https://anaconda.org/zeehio/scikit-umfpack/builds/6/0#L2887).

Is this expected? Am I missing something? Thanks for your time

[2016-01-12 14:49] talumbau opened #173 ""anaconda build" does not work on Mac OS X with anaconda-client v1.2.1"
I attempted to set up having my packages built using Anaconda Cloud. I was referred to the documentation here:

http://docs.anaconda.org/build.html

I attempted to follow these instructions but did not get very far because `build` is not a valid command for the anaconda-client:

[code]

So, just wondering:

 - is the documentation wrong?
 - is the client broken?

Also, what is the proper way to se

[2016-01-12 15:56] PeterDSteinberg commented on #173
@talumbau Looks like you have an anaconda-client that is up-to-date but you did not ```conda install anaconda-build```.  The commands beginning with ```anaconda build``` or  ```anaconda worker``` come from anaconda-build.

[2016-01-12 16:02] talumbau commented on #173
Ah. User error. I guess I actually have to read every instruction correctly and do what it says. Thanks @PeterDSteinberg. Closing.

[2016-01-12 17:51] talumbau commented on #173
Hmmm. reopening...

[code]

[2016-01-12 17:54] PeterDSteinberg commented on #173
@talumbau do a ```conda update anaconda-build```.  Your version of ```anaconda-build``` is old enough to be before the name change to ```anaconda``` from ```binstar build``` and hence you don't have ```anaconda build``` or ```anaconda worker``` now.

[2016-01-12 18:26] talumbau commented on #173
Sadly this is the most recent version available for Python 3.3, which is the python version for my now ancient version of miniconda3. It sounds like the answer is for me to install a newer version of miniconda3 so that my root environment has a newer Python 3 version.

[2016-01-12 18:31] PeterDSteinberg commented on #173
Sounds good. Currently it is build for Python 2.7, 3.4, 3.5

[2016-01-12 23:26] PeterDSteinberg commented on #84
I just changed the number of story points for this issue from 5 to 13 points.  I changed it because:
 * There were a number of bugs discovered in dependencies that occurred when the dependencies were used in less common use cases (e.g. root python conda-build permissions for other users)
 * A poorly planned test (written by me) in this PR caused build workers that were not su workers to hang indef

[2016-01-13 03:36] PeterDSteinberg commented on #166
@kwmsmith can you invite me to the dataportal project on anaconda.org.  I'm working on this issue.  I haven't been able to replicate it with a local worker listening for CI builds on any branch of my repo.  I'm curious to look at the metadata of the github push notification events and webhooks.  Also, if you push a trivial change to that ```remove-node-dist-files``` branch now, does that trigger a

[2016-01-13 04:21] PeterDSteinberg commented on #150
I apologize.  I have dropped the ball on this issue that was assigned to me.  I worked to the point of getting this error replicated on anaconda-build with Python 2.7 on a Windows VirtualBox VM, but I haven't found a fix.  I filed the conda issue mentioned just above (1936).  The comments on that issue mentioned it was a zombie process problem and @srossross may have worked on a solution?

[2016-01-13 04:29] PeterDSteinberg commented on #149
@rafaelhbarros I'm not clear whether this feature has already been implemented?  I get notifications from ```noreply@anaconda.org via amazonses.com ``` regarding my pushes to [https://github.com/PeterDSteinberg/myorg.package1](https://github.com/PeterDSteinberg/myorg.package1) which has a CI trigger and local build worker.   The email describes build status for each part of the build matrix.

[2016-01-13 04:36] PeterDSteinberg commented on #140
@ijstokes The documentation could mention that the .binstar.yml ```install``` section could be as simple as ```conda build .```.  I'm not clear on whether there are any advantages to putting statements in ```build.sh``` vs. .binstar.yml's ```install:``` section.       If I were writing the docs now, I would say those are interchangeable, but I'm open to correction.  I guess one advantage of puttin

[2016-01-13 04:46] PeterDSteinberg commented on #139
@ijstokes  When I attempt to set up a webhook on a repository that I do not own, i get  an error in the anaconda repo UI saying: ```You must have push access to the repository```.  I'm not sure how to accomplish what this issue aims to do.  I haven't seen an example of one person using someone else's push event's data, but I'm not too well versed in this.  When I look at the push event data for my

[2016-01-13 04:50] PeterDSteinberg commented on #123
I'm closing this issue.  We decided a json handler was too much an overhaul in several layers of code.

[2016-01-13 04:50] #123 closed

[2016-01-13 04:53] PeterDSteinberg commented on #126
This contents of this issue have been accomplished in #88 's testing. We should close  this issue when that PR #88 is finalized and merged.

[2016-01-13 09:22] mutirri opened #174 "Not working basic example and bad assumptions about git"
The **basic** example presented in current documentation http://docs.anaconda.org/build.html#SubmitABuild
simply doesn't work. Result:

[code]

Full result is available here:
https://anaconda.org/mutirri/tstpkg/builds/1/0

Info:
[code]

Additionally all of this means that we don't support situation when user:
b) copies content of some directory from remote location (e.g. https://github.com/conda/c

[2016-01-13 15:14] rafaelhbarros commented on #149
@PeterDSteinberg I wanted something to message me when the build is done, and I don't get any email currently. When should that happen? How do I make it happen?

[2016-01-13 15:50] srossross commented on #135
:+1: but it needs to be backwards compatible.

[2016-01-13 16:45] PeterDSteinberg commented on #149
@rafaelhbarros I have a package myorg.package1 for which I set up CI builds on any branch push.  I set it up in this UI page:

https://anaconda.org/psteinberg/myorg.package1/settings/ci?edit=1

At the bottom of that edit page, there is a space to enter comma-separated emails who should be notified.  I added my continuum.io email there when I set up the CI builds on myorg.package1 and I have been g

[2016-01-13 17:21] rafaelhbarros commented on #149
that looks good, can be closed.

[2016-01-13 17:23] #149 closed

[2016-01-13 20:19] PeterDSteinberg commented on #173
closing this as a conda/miniconda convenience issue

[2016-01-13 20:19] #173 closed

[2016-01-13 20:50] PeterDSteinberg commented on #101
@srossross I have addressed this issue as follows:
 * [New docs.anaconda.org PR](https://github.com/Anaconda-Server/docs.anaconda.org/pull/235) that says subversion must be installed
 * Updated our internal wiki on build worker deployment instructions for the various operating systems to say subversion must be installed
 * Created a PR on the [anaconda-builder cluster plugin repo](https://github.c

[2016-01-14 16:42] PeterDSteinberg commented on #157
@stephenakearns This issue was completed without assigning story points (merged yesterday).  It is 1 story point.

[2016-01-15 00:19] PeterDSteinberg commented on #135
Don't review this quite yet - I realized I should make it work with the PR of anaconda-server #1451, _as_ _well_ _as_ _with_ an anaconda-server that has not been updated.  Otherwise we'll have backwards compatibility issues between server and build.

[2016-01-15 17:13] stephenakearns opened #176 "Zombie files cause builds to not include explicit dependencies"
This may or may not be reproducible - capturing the issue for us to look at. Reported by the data portal team.

---------- Forwarded message ----------
From: Lance Ransom <lransom@continuum.io>
Date: Thu, Jan 14, 2016 at 10:39 AM
Subject: Zombie Files on anaconda.org
To: Stephen Kearns <skearns@continuum.io>, Sean Ross-Ross <sean.ross-ross@continuum.io>, Michael Marchetti <michael.marchetti@anacon

[2016-01-15 18:39] srossross opened #177 "Specify full path to worker for worker [run|deregister|list]"
@PeterDSteinberg Lets improve on #165. Can you add the ability to specify the exact worker:

e.g.
[code]
Running a worker without the full path should raise a deprication warning.
[code]

[2016-01-15 19:06] PeterDSteinberg commented on #177
@srossross  Will do. That's a relatively quick change.

[2016-01-15 19:21] srossross commented on #163
Adding @bkreider to the thread. I don't think it is safe to give root privileges to our public docker containers. Another option is to host your own build queue on anconda.org http://docs.anaconda.org/build.html#BuildWorkers you would be able to modify our docker image: https://hub.docker.com/r/binstar/linux-64/

[2016-01-16 00:02] dsludwig commented on #45
@srossross is this handled by #158 ?

[2016-01-16 00:04] PeterDSteinberg commented on #45
@dsludwig  There is still a windows process / zombie clean up issue, e.g. https://github.com/Anaconda-Server/anaconda-build/issues/176

[2016-01-16 00:06] srossross commented on #176
This seems like a conda issue at first glance.

cc @ilanschnell or @kalefranz

[2016-01-16 00:07] srossross commented on #45
@PeterDSteinberg are you sure this is related to #176?

[2016-01-16 00:09] srossross commented on #45
I think this **is** solved by #158. re-open if I am wrong. Peter I logged our issue with conda. conda/conda#1961

[2016-01-16 00:09] #45 closed

[2016-01-16 00:20] PeterDSteinberg commented on #177
@srossross are we waiting to merge #165 until this issue #177 ?  That makes sense to me.

[2016-01-18 20:15] damianavila commented on #150
@PeterDSteinberg @srossross @stephenakearns any update on this issue? Thanks!

[2016-01-18 20:16] PeterDSteinberg commented on #150
@damianavila I worked on this Friday and didn't resolve.  It's on my immediate TODO list for this afternoon / tomorrow.

[2016-01-18 23:59] damianavila commented on #150
Thanks for the update @PeterDSteinberg.

[2016-01-19 18:13] PeterDSteinberg opened #178 "Fix issue with PID files in backwards worker registration compatibility"
yaml.safe_load can return a non-dictionary on reading an empty file, like a pid file in .workers.  In ```backwards_compat_lookup```, make it robust to having a pid file in .workers dir.

[2016-01-19 20:22] PeterDSteinberg commented on #177
@srossross  there is already a check in place for existing worker ```--name``` usage.  Here's an example:
[code]

It doesn't look like there is any ambiguity.  The changes in this issue would not be backwards compatible to our VM's documentation.  Are you sure we should change?

[2016-01-19 22:24] PeterDSteinberg opened #180 "Remove usage of `pwd` or %CD% from build scripts"
```pwd``` can be ambiguous, depending on how the scripts are called.  Better to pass in an environment variable called WORKING_DIR on which to base new directory names.

[2016-01-19 22:40] #180 closed

[2016-01-19 23:12] PeterDSteinberg opened #182 "su worker: make all / most tests use patch decorators"
Currently the test_su_worker.py test has a few things to fix:
 * Nested `with patch(...` statements should be using patch decorators instead of `with` statements
 * More of the tests should be runnable by using mock / patch without requiring the test runner to be a valid su worker at test time.  (Currently most of the tests are skipped in most conditions).

[2016-01-20 16:24] PeterDSteinberg commented on #86
A nice addition to this PR, when it is created, would be to allow users to define a data tag word that can be used for printing structured data to be parsed. For example, if my build script prints:

[code]
and my `.binstar.yml` says
[code]
Then the build script output parser can accumulate a user data list of all such print statements, e.g. `[{"builds": 8}]` if there was only one print statement.

[2016-01-20 17:17] jlaura commented on #24
@srossross @zeehlo :+1:  Also not seeing an identical error.

[2016-01-20 21:08] PeterDSteinberg opened #183 "Fix bug introduced in usage of WORKING_DIR"
[This line of recently merged code by me](https://github.com/Anaconda-Server/anaconda-build/blob/develop/binstar_build_client/worker/utils/data/build_script.sh#L68) does not make sense.

[2016-01-21 16:53] #183 closed

[2016-01-22 17:10] stephenakearns commented on #182
Hi @PeterDSteinberg - is suspect this is in progress - moved it to that pipeline. Could you update pipeline from the boards view if not the case?

https://github.com/Anaconda-Server/anaconda-server#boards?repos=9108541,19550310,9064487,15382297,9266356,46084531&showClosed=false&showPRs=false

[2016-01-22 19:32] stephenakearns commented on #150
Hi @PeterDSteinberg  and @srossross - I think you indicated earlier that this issue was resolved. Can you update this issue?

[2016-01-22 19:44] cruser42 opened #185 "Temp Data is placed into incorrect folder during conda build with configured root-dir"
I have this setting in my condarc
[code]
However, one of the folders is not created there. Instead, the directory 'Code\builds' is created within my Anaconda folder

Folder is incorrectly created and files deposited here:
`C:\apps\Anaconda\2.3\Code\builds\work`

it probably SHOULD be here:
`C:\Code\builds\work`

When I killed a build halfway through, and re-ran without cleaning up, the following t

[2016-01-22 19:48] PeterDSteinberg opened #186 "Do not allow worker names with bad characters in them"
When doing:
[code]
, there can be downstream problems if `some_worker` has bad characters such as a `/`.

It would probably be good to similarly review other arguments to build_commands and worker_commands.

[2016-01-25 17:23] mcg1969 opened #187 "anaconda-build *requires* an underlying Git repository?"
I have a `conda build` recipe that includes nothing but `meta.yaml` and `.binstar.yml` files. If I place them in an otherwise bare directory and run `anaconda-build submit .`, I see this:
[code]
Not surprisingly, the builds fail because it can't find `meta.yaml`.

However, if I init a git repo, add the files to it, and commit, all is well:
[code]
Should the existence of a git repo be a requirement

[2016-01-26 02:49] mcg1969 commented on #187
Looks like a duplicate of #174

[2016-01-26 10:19] gmarkall opened #188 "CI settings are github-specific"
I just went to add CI for a project hosted on Bitbucket, but I found that I cannot specify a Git URL for the project - it has to be a Github owner/repo that is entered.

It would be nice to be able to build from hosting sites other than Github.

[2016-01-26 16:47] stephenakearns commented on #97
update from @PeterDSteinberg - blocked on #150

[2016-01-26 17:04] stephenakearns commented on #168
Hi @kwmsmith pinging again - can you validate this is no longer an issue and close?

[2016-01-26 17:07] stephenakearns commented on #154
spoke with @PeterDSteinberg - this has been validated so we're closing. @sklam can you retry and if not resolved, can you comment and/or reopen?

[2016-01-26 17:07] #154 closed

[2016-01-26 17:08] stephenakearns commented on #126
closing this as the work is now represented in #88

[2016-01-26 17:08] #126 closed

[2016-01-26 17:09] stephenakearns commented on #84
@srossross and @rafaelhbarros would you consider reviewing this when you have time?

[2016-01-26 17:10] stephenakearns commented on #135
Note - will have dependency on an updated version of Anaconda Repository (aka server) that contains the release of the PR above

[2016-01-28 19:10] srossross commented on #166
@kwmsmith we are blocked on this until we get more information.

[2016-01-28 19:20] #178 closed

[2016-01-29 17:08] srossross commented on #185
@cruser42 I am going moving this to the conda-build repo.

[2016-01-29 17:08] #185 closed

[2016-01-29 17:09] srossross commented on #185
See conda/conda#746

[2016-01-29 17:56] srossross commented on #187
@mcg1969 I think the message `fatal: Not a git repository (or any of the parent directories): .git` is coming from a command that is checking to see if this directory is a git repo. I think you should be able to ignore this. (I think this may be because it is checking your `.gitignore` file?)

This should still work with our without git, even with the error message.

In the future, I would like to

[2016-01-29 17:57] srossross commented on #188
@gmarkall this is a great idea. But this would be a large effort. I'm going to store this in the icebox for now.

[2016-01-29 18:14] mcg1969 commented on #187
Agreed, the error message itself is fine with me, as long as the files actually get uploaded.

[2016-02-01 21:27] johneo opened #190 "osx-64 times out on npm intall"
The same build that passes on linux-64 fails on osx-64 during `npm install` due to timeout. `iotimeout` was set to 300 but still fails.

[2016-02-01 21:30] PeterDSteinberg commented on #190
@johneo Can you provide a quote here of the full build log up to the hanging point?

[2016-02-01 21:44] johneo commented on #190
[data-portal-osx64-buildfailurelog.txt](https://files.zenhub.io/56afd1a7f63f5a8a10c6c973)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-02-01 22:27] johneo commented on #190
Wondering if it is indeed waiting for a user input regarding X-Code CLI tools: https://github.com/nodejs/node-gyp/issues/773

[2016-02-02 17:09] PeterDSteinberg commented on #190
@johneo This built successfully for me on mac osx locally.  I think you are right about the nodejs/node-gyp#773 issue you shared (that it is waiting for user input on X Code CLI tools).

[2016-02-02 22:20] PeterDSteinberg commented on #182
@StephenK This issue is fixed by to-be-reviwed-and-merged PR #88 , the later commits in that PR, where the tests are converted to using mock and patch for all but one test.  The work was best done before merging PR 88, so there isn't a PR directly for this issue.

[2016-02-03 14:45] stephenakearns commented on #150
Hi @PeterDSteinberg - can you provide latest status update on this and attach and recent PRs associated with it. Thx

[2016-02-03 14:45] bollwyvl commented on #150
Here's an another issue with this: https://github.com/Anaconda-Server/nb_conda/pull/9#issuecomment-179265547

[2016-02-04 17:08] stephenakearns commented on #150
@PeterDSteinberg added some additional diagnostics info to Conda - conda/conda#2023

[2016-02-04 17:11] stephenakearns commented on #150
Example of working Win-64 Build: https://anaconda.org/binstar/binstar/builds/497

[2016-02-04 17:15] stephenakearns opened #192 "[Build] Update build worker documentation and deploy updated build workers on A-Cloud"
* [x] prereq: latest version of Anaconda Repository deployed
* [x] involve Troy since he has the most experience here
* [x] decision: patch or rebuild workers? [Edit
* [x] update documentation: current deploy/build docs here: https://sites.google.com/a/continuum.io/wiki/design-and-development-documents/binstar
* [x] make sure latest conda build release is installed/updated
* [x] build/update worke

[2016-02-04 17:27] PeterDSteinberg commented on #157
This was fixed by #160.

[2016-02-04 17:27] #157 closed

[2016-02-04 21:00] PeterDSteinberg commented on #182
Closing because running as root for su worker causes too much sales friction.

[2016-02-04 21:00] #182 closed

[2016-02-04 21:00] PeterDSteinberg commented on #84
Closing because running as root for su worker causes too much sales friction.

[2016-02-04 21:00] #84 closed

[2016-02-04 21:20] PeterDSteinberg opened #193 "Clean up some sections of the process group / process kill recent PR 158"
TODO checklist regarding the files that were changed in PR 158:

 * Provide documentation on the `JOB_OBJECT_LIMIT_KILL_ON_JOB_CLOSE` constant that is used
 * Throughout the code, make it clear that the Windows code applies to not only win32 but all windows.  Make these changes in object identifiers and in messages to the end user.
 * `kill_job` should have a docstring that it is only for Windows

[2016-02-04 21:22] PeterDSteinberg opened #194 "Build worker stability - cleaning up processes and other side effects"
As discussed in the meeting with @pzwang @stephenakearns @dsludwig ,  @insertinterestingnamehere  the su worker branch potentially causes sales difficulty in its use of root privileges.

The alternative is to improve the build workers' by:
 * Better killing of all subordinate processes (see new issue regarding changes to process groups merged PR #193)
 * Destruction of a build worker's home direct

[2016-02-04 23:00] damianavila commented on #150
Great, I will test with our extensions... thanks @stephenakearns

[2016-02-05 13:15] damianavila commented on #150
@stephenakearns not fixed for us... still seeing the same issue, check this build just triggered morning today: https://anaconda.org/anaconda-nb-extensions/nb_conda/builds/18/9

[2016-02-05 13:22] damianavila commented on #150
well I am not sure if this wes even deployed because I see the PR still opened, am I right?

[2016-02-05 21:24] groutr opened #195 "Spaces prepended to Description field"
When editing the description for a package on my anaconda.org account, every time I edit the description, 4 spaces are prepended to the first line.

[2016-02-08 18:32] PeterDSteinberg opened #196 "Windows CONDA_NPY setting bug"
`CONDA_NPY` can end up being set to literally `""` rather than an empty string when numpy is not present, at least on Windows.  Make sure that CONDA_NPY is undefined if numpy is not installed.

[2016-02-08 18:33] PeterDSteinberg commented on #196
Here's the bottom part of my build log with the error that results, see the quoting of `CONDA_NPY ""` on the second line:
[code]

[2016-02-08 21:18] PeterDSteinberg commented on #150
@srossross @stephenakearns @insertinterestingnamehere I have had some successful builds with a testing deployment of win-64.

Here is what I did.  I started an EC2 win-64 instance from the `binstar-build-win-64-1.0.0-ec2(ami-b2f4a0da)` image.  That machine already had git, visual studio tools, and 2 miniconda installs: binstar user's python at `C:\Users\binstar\Miniconda` and Adminstrator's python

[2016-02-09 17:13] stephenakearns commented on #150
Hi @PeterDSteinberg - when the other build worker issues are resolved, can you connect with either @kwmsmith (Blaze/Dataportal) or @damianavila (Enterprise Notebooks) to validate the latest fix to the Windows Workers

[2016-02-10 16:22] PeterDSteinberg opened #198 "Windows build worker deployment and stability (Was issue #150)"
### Improving Windows Deploy and Stability

cc @insertinterestingnamehere @srossross @stephenakearns @pzwang

This issue has migrated from issue #150 as the causes of the Windows file-locking have been better understood.

TODO as part of this issue:
 * [x] Update windows deploy docs to have the Admin Miniconda install and the binstar-user specific Miniconda install, where anaconda-build and relate

[2016-02-10 17:38] insertinterestingnamehere commented on #198
Why is it that we aren't seeing similar file locking on Unix based systems? Updating a shared object that is in-use should be disallowed on all operating systems. Is there some fundamental difference in how we set up the processes?

[2016-02-10 18:01] PeterDSteinberg commented on #101
@srossross I think this is ready for review.  I have personally tested the modification to the anaconda-build-worker plugin.

[2016-02-10 18:04] PeterDSteinberg opened #199 "Email alert to queue admin when worker not seen for > X hours"
Suggestion from Troy:

In the build queue page, we have a status indicator that says when each build worker was `last seen`.  We should use and monitor this `last seen` data to send an email alert to queue owners when a worker has not been seen for greater than X hours, where X can be set from config somehow.

[2016-02-10 19:26] #196 closed

[2016-02-10 19:39] srossross commented on #101
@PeterDSteinberg This also needs to get built into the [public docker image](https://github.com/Anaconda-Server/anaconda-build/blob/develop/docker/linux-64/Dockerfile)

[2016-02-11 04:38] PeterDSteinberg commented on #198
@insertinterestingnamehere I'm not sure why we don't see this file locking issue on Unix based systems - I think I was told it was a Windows specific thing.  I haven't found much info about in searches, nor do I have the background in Windows to really comment.

[2016-02-11 04:48] insertinterestingnamehere commented on #198
Okay, I just did a little more reading. What's probably going on is the Linux kernel is holding on to a version of the old file until the process using it is terminated. See http://unix.stackexchange.com/a/188041. I didn't think it would do that.

[2016-02-11 05:17] PeterDSteinberg opened #204 "Allow some means of passing in auth tokens to build scripts"
The build script automatically uploads the package being built, but what if you want to run a build script that actually builds several packages and you also want to `anaconda -t some_token upload` each one of them (within a single build job).

Currently the way I would think of doing this is to pass a token in as an environment variable in the `env` section of `.binstar.yml` and then read that to

[2016-02-11 05:46] PeterDSteinberg opened #205 "Release and deployment checklist 0.14.0"
Here is the immediate TODO list for the current release 0.14.0 of anaconda-build:

 * [x] Make win-64, win-32, linux-64, linux-32, osx-64 conda packages for (Edit 2/12/2016: I actually made pip / pypi installs rather than conda installs because of [conda build issue 713](https://github.com/conda/conda-build/issues/713)):
  * [x] chalmers (no PRs to merge, just build package for 0.7.8)
  * [x] anac

[2016-02-11 19:33] #135 closed

[2016-02-12 02:23] PeterDSteinberg opened #206 "check usage of platform.node() as validator of hostname"
In binstar_build_client/worker/register.py the registered workers printed out or used for running by the end user are filtered by 1) hostname, 2) worker_id / worker_name.  Currently the filter for hostname checks `platform.node()` to see the user machine's hostname for comparison with the return value from anaconda-server `build_queues` endpoint.  I check on an ec2 instance and `platform.node()` c

[2016-02-12 20:14] PeterDSteinberg commented on #205
Other items that were completed on 2/11/2016:
 * Created Windows 32- and 64-bit AMI's of the anaconda-build 0.14.0 set up with 2 minicondas, updated visual studio, and all dependencies

Remaining TODO list as of 2/12/2016:

 * [ ] Make conda packages for chalmers, clyent, anaconda-build after resolution of [conda build 713](https://github.com/conda/conda-build/issues/713)
 * [ ] Update docker imag

[2016-02-12 21:48] PeterDSteinberg opened #207 "Provide more information on build queue depth for each platform"
Currently it is difficult to tell in the Repository UI if there is a big queue load for a specific operating system that may have resulted when a build worker was down.

Provide a means of doing:
[code]
Prints
[code]
(The above shows there is queue of depth 10 on the linux-32 workers while other workers have smaller queue loads, all workers have been seen in the last 3 seconds).

[2016-02-15 03:37] PeterDSteinberg opened #208 "Periodic clean-up of jobs still marked as running because of bad worker exit"
There is some confusion at times related to builds in the Server UI that show the builds have been building for inordinate amounts of time, e.g. 1+ day, yet this is not possible because of the job timeout (the spinning icon is spinning and the build elapsed times show 1+ day).  This situation can occur in the event of bad worker exits, such as uncaught exceptions or if chalmers / anaconda-build is

[2016-02-16 17:33] PeterDSteinberg commented on #205
Closing this issue as completed in OK status.

[2016-02-16 17:33] #205 closed

[2016-02-16 22:47] PeterDSteinberg commented on #190
@johneo Are you still blocked on this issue?  We have updated the build workers and I'm wondering if this problem still exists.

[2016-02-16 22:51] PeterDSteinberg commented on #208
Closing this issue because it is an anaconda-server one.  I'll open the same issue there.

[2016-02-16 22:51] #208 closed

[2016-02-16 22:52] PeterDSteinberg commented on #208
See [https://github.com/Anaconda-Server/anaconda-server/issues/1708](https://github.com/Anaconda-Server/anaconda-server/issues/1708)

[2016-02-16 22:53] johneo commented on #190
In short, no, not blocke anymore.

I was able to resolve it by doing `npm install --loglevel info` and increasing the iotimeout to 600. The builds on osx-64 take about 33 minutes, though, whereas the equivalent build on linux-64 takes 12 minutes or so.

[2016-02-16 22:54] PeterDSteinberg commented on #195
@groutr This is an anaconda-server issue.  Can you give the URL you are using when you edit your package description and have this trouble.  Then I'll create an issue in that repo and mention you.

[2016-02-16 22:57] PeterDSteinberg commented on #198
Even with the modified windows deployment set up described in the comments of this PR (and now the company deploy wiki as well), we still encounter some file permissions errors, similar to that shown in #150, and can see this outside the CI system, in `conda build` alone.  This issue is now being tracked [here at the conda issues](https://github.com/conda/conda/issues/2079)

[2016-02-16 22:57] #198 closed

[2016-02-16 23:00] PeterDSteinberg commented on #176
closing this issue because the zombies were observed in build workers that had not been updated with the new process groups approach reflected in PR #158

[2016-02-16 23:00] #176 closed

[2016-02-16 23:03] PeterDSteinberg commented on #101
This has also been updated in the [docker image code here](https://github.com/Anaconda-Server/anaconda-build/blob/develop/docker/linux-64/Dockerfile#L5) and the docker image has been push with the following tags:
 * `binstar/linux-64:latest`
 * `binstar/linux-64:0.14.0`

The cluster plugin PR has been merged and the docs PR has been merged.

Closing.

[2016-02-16 23:03] #101 closed

[2016-02-16 23:11] groutr commented on #195
It is not just one package, it's all of them.  I suspect this is a general problem.
The problem has actually compounded since I've filed this issue.  Now, instead of 4 spaces, there are 15 spaces prepended whenever an edit is made.

One example is: https://anaconda.org/rgrout/conda

[2016-02-17 00:38] PeterDSteinberg opened #211 "Email to group or list of users when build worker was last seen > X hours ago"
Moving this from [https://github.com/Anaconda-Server/anaconda-build/issues/199](https://github.com/Anaconda-Server/anaconda-build/issues/199)

Suggestion from Troy:

In the build queue UI page org/queue/workers, we have a status indicator that says when each build worker was last seen. We should use and monitor this last seen data to send an email alert to queue owners when a worker has not been s

[2016-02-17 00:38] PeterDSteinberg commented on #199
Moved to Anaconda-server

[2016-02-17 00:38] #199 closed

[2016-02-17 00:44] #190 closed

[2016-02-17 00:50] PeterDSteinberg commented on #150
@kwmsmith and @damianavila

From the information in this and related issues we have:
 * modified windows deployment in the wiki based on issue #198
 * found that most of the issue was related to conda installation's tarball extract command causing changes to running executables

[2016-02-17 04:50] ijstokes opened #212 "double entry for a build"
This is weird: are there two 12-0 builds or two 13-0 builds? Hard to tell.  And why is 13 marked as failed?

https://anaconda.org/anaconda-nb-extensions/nb_anaconda_theme/builds

Whatever happened here seems to me it is pointing to some serious weirdness that should be understood and fixed.

[2016-02-17 10:34] pitrou opened #213 "binstar still mentioned in messages"
Perhaps someone should do a grep on the whole source / docs tree?

[code]

[2016-02-17 16:04] #211 closed

[2016-02-17 17:05] #195 closed

[2016-02-17 17:05] PeterDSteinberg commented on #213
I agree this is confusing and needs to be fixed.

[2016-02-17 17:11] PeterDSteinberg commented on #136
I'm closing this issue.  Let me know if you have any build issues @quasiben

[2016-02-17 17:11] #136 closed

[2016-02-17 17:15] PeterDSteinberg commented on #192
All items checked off - see also #205

[2016-02-17 17:15] #192 closed

[2016-02-17 17:16] PeterDSteinberg commented on #150
Closing this issue as it is now tracked by [conda #2079](https://github.com/conda/conda/issues/2079)

[2016-02-17 17:16] #150 closed

[2016-02-17 17:19] PeterDSteinberg commented on #97
* Build workers are up and running for all operating systems now.
* Company wiki on deployment has been updated for a 2-miniconda installation set up on Windows
* [conda issue 2079](https://github.com/conda/conda/issues/2079) was responsible for #150. Moving this issue to 0.14.1 so deployment can be further refined in conjunction with a fix for conda issue 2079 for greater windows stability.

[2016-02-17 19:11] ijstokes commented on #213
+1

[2016-02-17 19:15] ijstokes commented on #212
This issue also raises the question of how to do better layout to make it more clear which builds are grouped: https://github.com/Anaconda-Server/anaconda-server/issues/1712

[2016-02-17 19:17] PeterDSteinberg commented on #206
Update: `platform.node()` is the best way to do this.  When I wrote this issue, I was encountering some production issues where our worker id's where not recognized, despite being registered.  The issue was a change in hostname on the machines. It is necessary to first fix the hostname of a machine then do the register step, unless you can give the hostname argument to `anaconda worker register --

[2016-02-17 19:17] #206 closed

[2016-02-17 19:42] PeterDSteinberg commented on #86
Plan:

 * build_script.bat and build_script.sh:
  * make tags for each section that is running `echo '###RUNNING_SECTION### <tag for section name>'`
  * make metadata json generator about all the tags that can be generated so that Repo UI can do different things for each tag, like font styles
 * build process wrappers in Python:
   * look for `###RUNNING_SECTION some_section_name` while polling bu

[2016-02-17 19:45] srossross commented on #86
@PeterDSteinberg this sounds great.

[2016-02-17 19:46] srossross commented on #86
we should be able to do this on the client independently of the server, since the build logging  endpoint will just ignore tags to start.

[2016-02-17 20:59] dsludwig opened #217 "`anaconda build trigger` should support `--buildhost`, `--dist` flags"
From `anaconda build submit --help`:

[code]

these should be supported by `anaconda build trigger` as well.

[2016-02-18 00:27] PeterDSteinberg commented on #86
Changed the milestone to 0.14.1 -> that is inclusive of only the build (backend) part of these changes, not the Server UI improvements that go along with it thereafter.

[2016-02-18 00:33] srossross commented on #186
@PeterDSteinberg I think this issue should be in "In Progress" and the corresponding PR should be in "Ready for Review"

[2016-02-18 20:08] izaid opened #218 "Environment variable `CC` not defined"
I'm trying to see if we can get DyND compiling on the newly-updated Anaconda build. On the Linux side, I run into this issue:

[code]

I'd think that `CC` is probably something that should be defined. If not, how should I help CMake find the right compiler to use?

[2016-02-18 21:55] PeterDSteinberg commented on #218
We will work on setting the CC env variable for the build workers.  In the mean time, before the next deploy, can you do something [like this](http://forums.debian.net/viewtopic.php?f=30&t=110742)

[2016-02-18 23:18] PeterDSteinberg opened #219 "Include date with beginning of new build in build worker's log files"
Doing something like `chalmers log -n 200 worker`  and seeing some successful or failing builds, it is difficult to tell at which time the different builds occurred.

[2016-02-23 18:07] dsludwig opened #222 "`anaconda worker run` cannot run registered worker"
If a worker is registered with `--hostname`, there is no way to execute that worker, since the available workers are filtered by the actual hostname of the machine.

Worker names should be unique, so `anaconda worker run <name>` is unambiguous.

hostname should not be filtered, and a warning printed when running on a different hostname/platform.

[2016-02-26 00:40] insertinterestingnamehere opened #223 "Virtualizing Build Workers"
This issue is for discussing using Virtual machines and/or containers as build workers.

A variety of our issues with setup and take-down could be solved by using virtual machines as build workers. This would provide much cleaner setup and take-down for each build job since each job would be running on a completely clean build setup and any leftover processes or files would be cleaned up when the

[2016-02-26 23:22] dsludwig opened #224 "quiet: True has issues on Windows"
It filters out things that it shouldn't - line endings are `\r\n`.

[2016-02-27 20:13] mariusvniekerk opened #225 "Issues setting up Anaconda build to pull from something other than default"
Full log here
https://anaconda.org/mvn/cyavro/builds/12/0/log

It seems anaconda-build never creates the condarc file needed?

[code]

Am i missing something obvious somewhere?

[2016-02-27 20:22] PeterDSteinberg commented on #222
Unique names sound like a good fix.  I'll do that.

[2016-02-29 17:50] dsludwig commented on #225
@mariusvniekerk you are not doing anything wrong - it looks like the docker worker mixes up the working directory on the host machine and the docker container since this commit: https://github.com/Anaconda-Server/anaconda-build/commit/f276e776c2dda15b7c0d842675600d79a9b49967

cc @PeterDSteinberg

[2016-03-02 02:13] stephenakearns commented on #168
Hi @kwmsmith (cc: @ltransom ) closing this issue, but happy to reopen if the issue re-appears.

[2016-03-02 02:13] #168 closed

[2016-03-02 13:21] PeterDSteinberg opened #228 "Fix links in build notification email"
I was sent a notification via SES regarding a build with 11 sub-builds.  The links to each build in the email have this form:

[code]

When resolving it, the `103.11` ends up converting to 103/1 not 103/11 as expected, so the link to build 11 actually takes you to build 1.

[2016-03-07 17:34] PeterDSteinberg commented on #224
@dsludwig Do you mean that it is removing lines with `\r\n` when it should only be removing those ending with `\r`?

[2016-03-07 17:37] dsludwig commented on #224
That's right. There's a number of issues with output right now - I am working on these issues in #216

[2016-03-07 18:16] #222 closed

[2016-03-07 21:19] PeterDSteinberg commented on #212
@dsludwig Do you have any idea how the situation that @ijstokes links to above could arise (two apparent build 0's in build 12)?  I have added this to next milestone unsure of where to start.

[2016-03-07 21:27] PeterDSteinberg commented on #223
@insertinterestingnamehere Thank you for writing this up.  I think we should pursue one of these options, focusing on the Windows operating system improvement first, even if we have to pursue a Windows only option.  I say that because Windows stability is a pressing issue more than the other operating systems, and we have a deployment option with anaconda-cluster for linux that seems to be much mo

[2016-03-07 21:56] PeterDSteinberg commented on #194
Let's also discuss this issue at build planning tomorrow @stephenakearns @kalefranz @insertinterestingnamehere @dsludwig

I think we would want to do this in a separate type of worker, and I am not sure what is the best name for that type of worker.  So we would have:

* `anaconda worker run`
* `anaconda worker docker_run`
* `anaconda worker clean_run` or whatever we call this new type of worker t

[2016-03-07 22:07] #77 closed

[2016-03-07 22:14] dsludwig commented on #212
There are two sub-builds with 13.0 with different worker ids:

[code]

This is probably a race in fetching build jobs from the queue.

[2016-03-07 22:22] PeterDSteinberg commented on #212
That explanation makes sense to me.  Is it best to control this situation from the server-side, by simply discarding one of them?  It seems impossible to control completely while there are multiple workers on same queue...

[2016-03-07 23:16] #193 closed

[2016-03-08 16:52] PeterDSteinberg commented on #207
Moving this to Milestone 0.15.0.

[2016-03-08 19:19] PeterDSteinberg commented on #97
I am closing this as complete after the updates to the company wiki on deployment for windows described above.  Those instructions are in use for binstar queues and conda-team.

[2016-03-08 19:19] #97 closed

[2016-03-08 19:23] PeterDSteinberg commented on #219
Fixed by #230.

[2016-03-08 19:23] #219 closed

[2016-03-08 19:24] PeterDSteinberg commented on #213
Fixed by #209 and #215

[2016-03-08 19:24] #213 closed

[2016-03-08 21:12] PeterDSteinberg commented on #194
This is handled in virtualization of workers.

[2016-03-08 21:12] #194 closed

[2016-03-08 21:18] dsludwig commented on #186
Fixed by #214

[2016-03-08 21:18] #186 closed

[2016-03-08 22:12] dsludwig commented on #166
This may relate to the size of the PR: 200k lines removed, 18k files deleted.

[2016-03-08 23:36] dsludwig commented on #140
@kalefranz this is probably a discussion you are interested in - what should be the dividing line between `conda build` and `anaconda build`?

Having a named section `install` mirrors what e.g. Travis CI and CircleCI provide for installing dependencies: https://docs.travis-ci.com/user/customizing-the-build/#Customizing-the-Installation-Step ; https://circleci.com/docs/installing-custom-software

I

[2016-03-09 01:34] kalefranz commented on #140
I saw this earlier today, and yes I'm quite interested. Thanks for the heads up anyway.

Going to try to circle back in a couple days

[2016-03-11 23:58] dsludwig commented on #228
This is fixed on develop.

[2016-03-11 23:58] #228 closed

[2016-03-12 00:12] dsludwig commented on #225
@mariusvniekerk we have updated the workers with the latest version of anaconda-build `0.15.0` which should fix this issue. Please let me know if you have any other problems.

Thanks for reporting the issue!

[2016-03-12 00:12] #225 closed

[2016-03-12 00:54] dsludwig commented on #212
This is fixed in develop. Note: the existing duplicate build will not be deleted.

[2016-03-12 00:54] #212 closed

[2016-03-12 01:17] mariusvniekerk commented on #225
Tested and it works

[2016-03-15 15:39] dsludwig commented on #86
Fixed by https://github.com/Anaconda-Server/anaconda-build/pull/238 and https://github.com/Anaconda-Server/anaconda-server/pull/1730

[2016-03-15 16:10] insertinterestingnamehere commented on #223
While https://msdn.microsoft.com/en-gb/virtualization/windowscontainers/quick_start/container_setup says containers can be used with Windows 10, the setup script there is setting up a Hyper-v VM to host them and then using nested virtualization for the Hyper-v containers there. That won't work on the cloud since AWS and Azure both don't enable nested virtualization.

[2016-03-15 16:13] insertinterestingnamehere commented on #223
A couple ideas of things to try:

- Setting up a Windows Server 2016 TP4 worker on Azure
- Building a Hyper-V Windows Server 2016 TP4 image and then exporting it to AWS. They don't explicitly say anything about supporting Windows Server 2016 yet, but it might work.

[2016-03-15 23:01] dsludwig commented on #224
Closed by #236

[2016-03-15 23:01] #224 closed

[2016-03-16 15:44] PeterDSteinberg opened #241 "The --git-url 's regex check is overactivate (anaconda build submit)"
`anaconda build submit https://github.com/PeterDSteinberg/myorg.package1` fails because the regex for the `url.path` parsed from the url contains a `.` within the repo name.  Fix the regex to allow periods.

[2016-03-16 15:51] PeterDSteinberg opened #242 "submit_git_build in build_commands/submit.py is broken"
The check for `envvars` at [build_commands/submit.py line 143](https://github.com/Anaconda-Server/anaconda-build/blob/develop/binstar_build_client/build_commands/submit.py#L143) is out of place.  In this case `builds` never has `envvars` as a key - `builds` is actually is of the form:

[code]
This issue is done when:
 * `anaconda build submit --git-url` works
 * test(s) are added for `submit_git_b

[2016-03-16 18:04] PeterDSteinberg opened #244 "More tests for binstar_build_client/build_commands"
We should do more mock tests for the various commands that can follow:

`anaconda build`

e.g. `anaconda build tail`, `anaconda build backlog`

These tests can be added in `binstar_build_client/build_commands` .  I think it would be useful to have such tests against regression even if they mock out a lot of the functionality.

[2016-03-16 18:05] PeterDSteinberg commented on #244
PR #243 begins this process and the issues solved by PR #243 highlight the need for more tests of `build_commands` .

[2016-03-17 12:22] PeterDSteinberg commented on #78
I have assigned this to myself under milestone `0.15.0`.

[2016-03-17 15:26] kalefranz commented on #223
Finally able to catch up on this ticket a bit.  The majority of the initial description focuses way too much on virtualization details.  But the list at the end gets it pretty much exactly right:

We need an interface and various implementations that could support something like the following...

    # args and kwargs for all the various initialization and configuration stuff
    # allows for depe

[2016-03-17 15:46] treetoc commented on #185
Same symptom here but slightly different setup:
- A [buildbot](http://buildbot.net/) server is launching a batch job that create a conda environment
- We create the env using:
` conda create -p %CONDA_ENV_DIR% --file %CD%\..\conda_requirements.txt --yes -q -m -c http://conda.mycompany.local/prod/`
- Scripts execute fine
- We (try to) clean the environment using:
`conda remove -p %CONDA_ENV_DIR% --

[2016-03-18 15:32] malev opened #247 "Timeout in osx workers"
<img width="849" alt="screen shot 2016-03-18 at 10 31 22 am" src="https://cloud.githubusercontent.com/assets/55977/13882698/a2847482-ecf4-11e5-982b-b0b1f9e3edae.png">

This is becoming a thing with osx workers. 1) they take forever 2) sometimes they timeout

[2016-03-18 17:45] stephenakearns opened #248 "Placeholder: Security issue logged in A-Server repo"
This is a placeholder in the build repo (public) to discuss a possible security concern in A-Server (private):

Anaconda-Server/Anaconda-server#951

[2016-03-18 17:45] stephenakearns commented on #248
Hi @PeterDSteinberg can we triage this in our next planning meeting?

[2016-03-18 17:51] PeterDSteinberg commented on #248
@stephenakearns sounds good.  There have been improvements in this part of anaconda-build since the original comment in Nov 2015 on the issue 951 above.

[2016-03-18 18:00] stephenakearns opened #249 "Placeholder: A-Sever #1702 - Provide more information on build queue depth for each platform"
Actual code and progress should be tracked over here, but just so we can have consolidated view in the build repo:

anaconda-server/anaconda-server#1702

[2016-03-18 18:16] #241 closed

[2016-03-18 18:16] #242 closed

[2016-03-21 17:39] PeterDSteinberg opened #250 "Release / Deploy for Milestone 0.15.0"
Checklist for release of milestone 0.15.0 (which may not be called 0.15.0 with the new platform versioning system):

#### Anaconda-build milestone 0.15.0 activities
 * [ ] Review and merge #245
 * [ ] Address or partially issue #244
 * [ ] More discussion and planning around #223
 * [ ] Discuss plan for better osx-64 performance (add worker(s) and/or SSD)
 * [ ] Finish docker related PR with anaco

[2016-03-21 18:16] #217 closed

[2016-03-21 18:17] dsludwig commented on #217
Closed in #239

[2016-03-21 18:18] dsludwig commented on #86
This will be released with Anaconda Repo 2.17.

[2016-03-21 18:18] #86 closed

[2016-03-21 18:19] stephenakearns opened #251 "Improve Perf on Mac OS Queue - add more workers"

[2016-03-21 18:23] kalefranz commented on #249
Duplicate of #207

[2016-03-21 18:23] #249 closed

[2016-03-21 18:34] stephenakearns opened #252 "Update Docs and Schedule Joint-Beta-Testing session"
* [ ] Update readme on repo to provide very clear simple instructions on setting up a

[2016-03-21 18:40] stephenakearns commented on #166
@kwmsmith closing this for now, but please reopen if issue persists.

[2016-03-21 18:40] #166 closed

[2016-03-21 18:46] kalefranz opened #253 "Update docker container for public build queue"
Current Dockerfile: https://github.com/Anaconda-Server/anaconda-build/blob/develop/docker/linux-64/Dockerfile

Proposed Dockerfile: https://github.com/ContinuumIO/docker-images/pull/20

@msarahan

[2016-03-21 18:48] kalefranz commented on #253
@msarahan Might want to go through and diff settings and packages between the proposed Dockerfile and what's currently being run.

[2016-03-21 20:04] PeterDSteinberg commented on #251
@tpowellcio Let's coordinate adding more osx-64 worker(s) in about a week with the release of 0.15.0.  That way we can avoid having to update it several days after deploying the first time.

[2016-03-21 20:16] tpowellcio commented on #251
@PeterDSteinberg Will do, lilmatt will be in town tomorrow and we will probably be moving the osx machines over to the binstar network later this week. I will update you on the details.

[2016-03-21 23:38] insertinterestingnamehere commented on #223
Okay, I was able to verify a few more things today.
- Once an administrator has configured the system to use Windows Docker images, administrator permissions are no longer needed to manipulate the containers.
- Our build of SciPy for Python 2.7 is broken when used inside a Windows Docker image. It appears to be a problem specific to modules that require Fortran since NumPy works fine. I'd bet that

[2016-03-22 17:14] insertinterestingnamehere commented on #223
Some more information here. To set up docker containers on an existing Windows Server 2016 installation, you can follow the instructions at https://msdn.microsoft.com/en-gb/virtualization/windowscontainers/quick_start/inplace_setup. One change needs to be made to the instructions there though. When calling the powershell script to configure the machine, we shouldn't include the hyper-v flag since

[2016-03-22 17:31] PeterDSteinberg commented on #253
Here are the things I think we should do to get this into anaconda-build and the automated deployment with anaconda-cluster:

 * create a folder ./docker/centos-linux-64 for the new docker files of this PR or give it a better name than that
 * add into that folder of DockerFile(s), the material from [the existing binstar/linux-64](https://github.com/Anaconda-Server/anaconda-build/tree/develop/dock

[2016-03-22 19:29] #244 closed

[2016-03-24 17:40] stephenakearns opened #256 "Confirm approach to each of the Bokeh requirements"
See this issue:

https://github.com/Anaconda-Server/anaconda-server/issues/880#issuecomment-152520876

[2016-03-25 21:52] PeterDSteinberg opened #257 "Do not allow conda update/install -n root"
Pending a more permanent solution, it should be easy to regex and remove any .binstar.yml commands that involve a pattern of `conda install/update` and `-n root`.  We have had issues with conda-build being downgraded in non-containerized linux builds workers where one build had updated the root conda env.

[2016-03-29 16:37] stephenakearns opened #259 "Jump version number to 1.15.0"

[2016-03-30 13:54] stephenakearns opened #260 "Discuss - kicking off a new build shouldn't overwrite a released package"
I was in a situation where I kicked off a new build+upload of binstar-server to validate that the build system was working smoothly and uploads were taking place. The process overwrote the latest released build in a manner that caused it to break for people who were downloading the package.

The system should either (a) warn that bad things could happen - do you really want to do this? or (b) shou

[2016-03-31 17:51] #257 closed, assigned to nobody

[2016-04-01 00:09] dsludwig opened #261 "`build_targets: conda` fails with `build: noarch_python: true` and `CONDA_FORCE_32BIT`"
Related to #255

This also affects the multilib docker builder.

The output of these builds ends up in `conda-bld/noarch/` or `conda-bld/linux-32/`, when the upload command assumes they will be in `conda-bld/linux-64/` (assuming the build is running on `linux-64`).

[code]

The `build_script.sh` run by the build worker (this affects the regular worker too) includes a command like:

[code]

The pre

[2016-04-05 03:37] srossross opened #262 "Move conda-clean-build-dir to conda-build"
Re: #255 perhaps we should move conda-clean-build-dir into conda build?

I am not sure of the original reasons this was not added directly to conda.

current: removes the conda_bld directory

Request: add flag to conda clean to remove the build directory if it exists

[2016-04-06 20:39] bollwyvl opened #265 "robustly support common web development toolchains"
Many of the complex client/server applications we and our users and customers are building manage their front-end runtime dependencies and build toolchain in npm's `package.json`, and only include the "built" assets in their distribution. Also, best practice for web app testing is swinging to instrumented real browsers vs. special headless browsers.

## npm build chains
Practically, when working w

[2016-04-07 00:09] PeterDSteinberg opened #267 "create a testing queue with groups/permissions of build-binstar-continuum"
It would be nice to deploy workers to a testing queue, test them out with all the team members who have access to the internal `build-binstar-continuum`, then change the workers to the production `build-binstar-continuum` queue.  The new testing queue should have the same group access as the `build-binstar-continuum` queue.

[2016-04-07 12:06] PeterDSteinberg opened #268 "1.15.1 Deploy and Release Checklist"
This is the TODO list as part of releasing and deploying anaconda-build 1.15.1.
#### PRs to merge

Fix anaconda-cluster-contrib's `salt-anaconda-builder` for a problems found in 1.15.0 deploy.  These two issues must be fixed for cluster deploy of docker workers:
- [ ] https://github.com/ContinuumIO/anaconda-cluster-contrib/issues/18 (Peter)
- [ ] https://github.com/ContinuumIO/anaconda-cluster-con

[2016-04-08 18:27] #259 closed, assigned to PeterDSteinberg

[2016-04-08 19:09] #262 closed, assigned to nobody

[2016-04-08 19:15] stephenakearns opened #269 "DUPE: Implement Secrets for Build system"
reference Travis CI implementation - make it work like that :-)

relative sizing - not less than 5.

will need to store key for each secret in database (discuss)

[2016-04-08 19:27] dsludwig opened #270 "Allow uploading to Anaconda Repo label based on branch/tag"
See https://github.com/Anaconda-Server/anaconda-build/blob/develop/binstar_build_client/worker/utils/script_generator.py#L49

For example:
- If I am building a tag, I want to label this as "main"
- If I am building on develop, I want to label as "develop"
- If I am building on "release/xyz" I want to label as "beta" and "xyz"
- on other branches "abc", I want to label as "abc"

[2016-04-08 19:28] stephenakearns opened #271 "Provide File-level Caching so that build runs are faster"
TravisCI lets you reuse files left-over from previous builds - e.g. have lots of PIP packages or tarballs.

Parent issue - anaconda-server/anaconda-server#880

Additional Input from @bryevdv ...

As for caching, what would be ideal is to tie particular install steps to particular files: want to be able to say "oh, packages.json is updated, need to run the npm install again and re-cache just that"

[2016-04-08 19:37] #261 closed, assigned to nobody

[2016-04-08 20:03] #269 closed, assigned to nobody

[2016-04-08 20:22] stephenakearns opened #272 "Docs: better info on build matrix (to split by groups)"
related to anaconda-server/anaconda-server#880

[2016-04-08 20:41] insertinterestingnamehere opened #273 "Get a version of Miniconda that can install fully into a Windows Docker container"
This is a follow on to the discussion at the end of https://github.com/Anaconda-Server/anaconda-build/issues/223. Basically, the Miniconda installers don't currently finish on a Windows docker container. The files appear to all be extracting correctly, but the process never finishes. I'm working on pinning down where the bug is and finding a workaround. Depending on what I can get working, we can

[2016-04-08 20:48] insertinterestingnamehere opened #274 "Start scripting installs of MSVC compilers in Windows Docker image"
This is another follow on to https://github.com/Anaconda-Server/anaconda-build/issues/223

Scripting an installation of the latest version Visual Studio Build Tools on the docker image appears to work. I haven't verified that there is any way to install the Build Tools for Python 2.7 yet. The installers for all but the most recent version of the Visual Studio Build Tools error out when used inside

[2016-04-08 20:52] insertinterestingnamehere opened #275 "Build Windows Docker Image That is Usable for Testing"
The main blockers for this are https://github.com/Anaconda-Server/anaconda-build/issues/273 and https://github.com/Anaconda-Server/anaconda-build/issues/274. Once those are done, we can fill in any additional gaps to provide a working container for running tests on Windows.

[2016-04-11 23:40] #273 closed, assigned to nobody

[2016-04-12 17:13] dsludwig opened #276 "Worker falls back to old log output too easily"
Change the exception handling here:

https://github.com/Anaconda-Server/anaconda-build/blob/develop/binstar_build_client/mixins/build_queue.py#L75-L85

[2016-04-12 17:37] #274 closed, assigned to nobody

[2016-04-12 18:13] dsludwig opened #277 "Reordered build log output"
It seems like the output in the new docker build is getting re-ordered somehow (stderr and stdout).

https://anaconda.org/binstar/binstar-server/builds/4307/0#L3149

[code]

the line `+ anaconda-server -h` should appear before the `usage:` message.

[2016-04-14 17:25] stephenakearns opened #281 "Rename Enqueue and Dequeue labels in Build log"
enqueue - waiting for build worker
dequeue - starting build worker

[2016-04-19 20:07] insertinterestingnamehere commented on #273
Okay, I followed up on this a little more. https://github.com/conda/constructor/blob/master/constructor/nsis/main.nsi.tmpl#L470-L472 were the only lines that needed to be removed. I suspect this is an issue with the Windows API's used by menuinst. In particular, I've submitted https://github.com/docker/docker/issues/22169 upstream. I haven't totally verified that that's the issue causing the insta

[2016-04-21 15:57] kalefranz commented on #265
This issue was moved to conda/conda#2391

[2016-04-21 15:57] #265 closed

[2016-04-21 16:39] insertinterestingnamehere commented on #275
Here's a draft. This has pretty much everything I can get on there. Most of the remaining issues need fixing upstream.

[code]

We may be able to work around the menu installation issues by changing some error handling in menuinst. I'm still investigating that.

[2016-04-21 16:53] insertinterestingnamehere commented on #275
Just submitted https://social.msdn.microsoft.com/Forums/en-US/a3953797-fe89-4acc-89d5-756354fbaac4/installing-older-versions-of-visual-studio-in-containers?forum=windowscontainers upstream as well since it appears to be a more appropriate place for bug reports like that one.

[2016-04-21 17:38] insertinterestingnamehere commented on #275
Submitted Docker issues:
1. https://github.com/docker/docker/issues/22169 (major pain point, mostly worked around)
2. https://github.com/docker/docker/issues/21697 (not blocking, just a weird thing to be aware of)
3. https://github.com/docker/docker/issues/22209 (already fixed in TP5, but prevents persistent .condarc in image)
4. https://social.msdn.microsoft.com/Forums/en-US/a3953797-fe89-4acc-89

[2016-04-21 17:48] insertinterestingnamehere commented on #275
https://github.com/docker/docker/issues/22232 is another non-blocking oddity.

[2016-04-21 17:59] insertinterestingnamehere commented on #275
Another non-blocking issue is that the USER command in a dockerfile isn't currently supported. That appears to already be a known thing though. See https://github.com/docker/docker/blob/07f580489908bf6a3373daac1473045406e1130d/builder/dockerfile/evaluator_windows.go#L9.

[2016-04-21 18:05] insertinterestingnamehere commented on #275
Useful related links for anyone interested:
known outstanding issues: https://msdn.microsoft.com/virtualization/windowscontainers/about/work_in_progress
various working examples:
https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-container-samples/windowsservercore
particularly helpful docs:
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/about/about_ov

[2016-04-21 18:10] insertinterestingnamehere commented on #275
https://windowsserver.uservoice.com/forums/304624-containers/suggestions/13398387-make-older-visual-studio-versions-install-correctl is another one I submitted, but there hasn't been any acknowledgement of the issue there, so I went ahead and submitted https://social.msdn.microsoft.com/Forums/en-US/a3953797-fe89-4acc-89d5-756354fbaac4/installing-older-versions-of-visual-studio-in-containers?forum=

[2016-04-21 18:31] bollwyvl commented on #265
Cool!

On Thu, Apr 21, 2016 at 11:57 AM Kale Franz notifications@github.com
wrote:

[2016-04-22 19:32] stephenakearns opened #282 "High-level Design for Port of Anaconda-Build/Repo to support SVN for code repo"
Request came from @seibert on behalf of Kershner, and I think this has come up at JPM too....

What would be involved in supporting SVN instead of Github as the source control for our build system to integrate with?

Can we get a breakdown of the code activities required, with approximate sizing for each to understanding the port process to SVN?

cc: @mrduane

[2016-04-22 21:47] stephenakearns opened #283 "Bokeh Build: confirm connect to Saucelabs and SSH out"
From @bryevdv ....

It's probably not an issue, but worth mentioning: jobs do need to be able to e.g., connect out to SauceLabs, which is where our Selenium tests run. They also need to be able SSH out (we deploy docs in an automated fashion to pydata.org with fab)

[2016-04-22 21:49] stephenakearns opened #284 "Bokeh Build: build conda package as input to subsequent build steps"
from @bryevdv ....

Here's something that would be a killer feature for us: the ability to have a build job that executed first, that produces a conda package as a result, and then this conda package is then automatically available to be used by all the remaining test jobs. Right now we spend 4 minutes on the front of every job downloading dependencies and compiling coffeescript, with the result t

[2016-04-22 21:50] stephenakearns opened #285 "Bokeh Build: Scheduled (nightly) Builds"
From @bryevdv ....

Another feature that would distinguish AS for us would be to have "nightly" jobs. We would like to dramatically increase some of out Selenium and image diff testing, but there is no way we could do it on every commit, it's just too expensive. It would be good to be able to have "overnight" jobs that run much longer test suites.

[2016-04-25 15:23] bollwyvl commented on #284
This. Also [this](https://github.com/conda/conda/issues/2391).

Perhaps in broadening the discussion about timed builds, having "agent" builds like this would let builds be chained in a reactive fashion. I guess one could break up bokeh into, say, `bokeh-js`, `bokeh-pypi`, `bokeh-conda`, `bokeh-docs` and `bokeh-site`.

Each could be built one or more of the following:
- as triggered!
- as part of

[2016-04-26 17:45] damianavila commented on #204
@PeterDSteinberg the problem is not only tied to anaconda upload... we use several services in our build and we connect to several sources... so we essentially need to have a secure way to handle login information without committing the credentials

This could be an option to anaconda upload... but not for other things.... for instance, we connect with rackspace to upload cjs and css to the cdn...

[2016-04-26 17:50] damianavila commented on #270
Not exactly, although it would be nice.
The thing we specifically need is to be able run job from tag branches, I mean... when I tag and I push the tag to the "central" repository, anaconda build should be able to run that job...
AFAIK, this is currently possible configuring the webhook to take branches but a confirmation would be nice as well.

[2016-04-26 17:59] damianavila commented on #272
So, do we have groups functionality in Anaconda build? I guess it is trough the `env` tag in the 3rd dimension of the matrix... am I right?

[2016-04-26 18:00] damianavila commented on #271
:+1:  to this request... specifically Bryan suggestion because it is something that TravisCI (and probably other services) don't have...

[2016-04-26 18:00] damianavila commented on #283
ping here... this is important for us (Bokeh) to start a migration...

[2016-04-26 18:01] damianavila commented on #285
I have also requested this previously (to have nightly jobs for Jupyter packages) so a :+1:

[2016-04-26 22:43] insertinterestingnamehere commented on #275
Changing https://github.com/conda/constructor/blob/master/constructor/nsis/_nsis.py#L69 to read `except (ImportError, WindowsError):` is an alternative workaround for the miniconda installer freeze. That indicates to me that https://github.com/docker/docker/issues/22169 really is the issue causing trouble here. One possible solution on our end is to just have menuinst raise an import error rather

[2016-04-27 00:18] dsludwig commented on #283
There are no outbound firewall rules for the build workers - they can access any external service. There should not be any issue with this.

[2016-04-27 00:18] #283 closed, assigned to nobody

[2016-04-27 14:07] stephenakearns opened #286 "Build Workers - locale is incorrect (ASCII) and should be set to UTF-8"

[2016-04-27 14:16] msarahan commented on #286
@havocp explained this to me.  I understand what is necessary, and will make the changes.  I have not had time.  If any of the Anaconda Build team members want to make the change to the build docker images, that's fine too - either way, we probably need to re-build all of our images to reflect this change

[2016-04-27 16:10] bollwyvl commented on #284
@stephenakearns, @damianavila after our discussion of [airflow](https://github.com/airbnb/airflow), and while waiting for builds, i dusted off my trusty inkscape and set about imagining what this might be like for our favorite case, bokeh. This is part of my vision of Directory Services, @mmarchetti, but I didn't have a good example.

Basically, thinking about "work" as a series of activities with

[2016-04-28 15:39] msarahan commented on #275
Sorry I'm slow here.  Why an ImportError and not an IOError or something like that?  I'm all for avoiding the issue by changing the exception, but I want to choose the most meaningful exception.  I wrote some pretty high-level tests in https://github.com/ContinuumIO/menuinst/pull/27/files - I'll merge that PR.  If your changes pass those tests, I think it's good to go.

[2016-04-28 16:44] insertinterestingnamehere commented on #275
The biggest reason for the ImportError is to make it so that we don't get a hard error at https://github.com/conda/constructor/blob/94e380979003878af5f2cbc51d05f47946845302/constructor/nsis/_nsis.py#L69 and https://github.com/conda/conda/blob/0f1cec64058672d2a9c4b793a3041f85a71e4230/conda/install.py#L414. It may make just as much sense to modify those two places to catch the WindowsError from menu

[2016-04-28 16:53] insertinterestingnamehere commented on #275
It's not entirely clear to me what the conda code is doing in this case anyway. It warns, then logs an error, but the command appears to execute successfully. Hmm.

[2016-04-28 18:47] dsludwig commented on #270
@damianavila is this the workflow you are looking for?

[code]

It looks like there is a bug with this workflow - it can't kick off builds automatically right now. I filed https://github.com/Anaconda-Platform/anaconda-server/issues/2103

As a work-around right now, you can manually invoke the build:

[code]

[2016-04-28 18:49] PeterDSteinberg commented on #267
Here is the new testing queue: `build-binstar-continuum_beta` .

The group membership [shown here](https://beta.anaconda.org/binstar/queues/continuum_beta/settings) is the same as the `build-binstar-continuum` queue.

[2016-04-28 19:04] dsludwig commented on #272
@damianavila, that is correct. There are 3 build dimensions:
- platform
  - the operating system and architecture to execute on
- engine
  - the initial set of packages to install in the conda environment
- env
  - a list of environment variables to define

When a build is launched, a sub-build is created for each combination of these dimensions. For example, if you have the platforms `[linux-64,

[2016-04-28 19:24] insertinterestingnamehere commented on #267
This is great! Thanks for taking care of that!

[2016-04-28 19:29] #267 closed

[2016-04-28 21:35] damianavila commented on #270
@dsludwig, yep... that's the thing I want...

Nice to know... thanks... but if you can fix the above thing, that would be awesome!

[2016-04-28 21:37] damianavila commented on #272
OK, thanks for the explanation @dsludwig

[2016-04-29 22:40] insertinterestingnamehere commented on #275
Okay, most of the serious errors appear to be fixed in the new Windows Server 2016 TP 5 release. In particular, the miniconda installer works fine now. I went ahead and submitted https://github.com/conda/constructor/pull/22 anyway though.

I also investigated what was going on with the older MSVC versions a bit more, and it appears that the issue is that the installers refuse to run on a system ru

[2016-04-29 22:50] msarahan commented on #275
Interesting!  Thanks for chasing this.

On Fri, Apr 29, 2016 at 5:40 PM Ian Henriksen notifications@github.com
wrote:

[2016-05-02 17:36] #276 closed

[2016-05-02 18:27] #272 closed

[2016-05-02 18:33] stephenakearns commented on #139
closing issue after waiting a few weeks - please reopen when time permit to provide more detail

[2016-05-02 18:33] #139 closed

[2016-05-02 18:38] stephenakearns commented on #282
Suggested Strategy: change so that the source control is a pluggable element that other source repositories could be plugged in (Git, Github Enterprise, Gitlab, gitorious, TFS)

[2016-05-17 20:45] #260 closed

[2016-05-30 15:59] stephenakearns opened #288 "Build workers should robustly handle Anaconda-Cloud outage"
- [ ] minimum requirement: finish up current build and report incomplete build and then pause operations and report whatever status appropriate in the log files (could not reach Anaconda-Cloud/Repository)
- [ ] Assumption: anaconda-cloud will come back online: periodically check in with Anaconda-Cloud to see if it's available
- [ ] enhanced requirement - for discussion - when worker sees anaconda

[2016-05-30 16:01] stephenakearns commented on #288
Example Outage was experienced May 27 at approximately 8am CT - see flowdock thread [here](https://www.flowdock.com/app/continuum/ap-build-system/threads/v_-nqsRU58nayNLL4dnfm7enlst)

[2016-06-03 14:30] philopon opened #289 "wmic failed on windows 10 / japanese"
Hi, I encounter this error (some information are masked):

[code]

[code]

I think wmic don't recognize chcp, so I rewrote [worker_stats.py:24](https://github.com/Anaconda-Platform/anaconda-build/blob/b5b4d1e5907bb50725e9f0f633f92c650b4099c6/binstar_build_client/utils/worker_stats.py#L24) to

[code]

and It seems working fine.

[code]

Thanks.
##
### My Environment

OS: Windows 10 64bit

[code]

[2016-06-30 19:37] flamingbear opened #290 "simple broken link"
On https://anaconda.org/binstar/queues/public/builds
the button "gettting started with anaconda build" links to this non-existent location http://docs.anaconda.org/examples.html#SubmitYourFirstBuild is invalid

[2018-06-05 22:53] kkabhi opened #291 "ECCN of anaconda build"
Could you please help me with ECCN of  anaconda build .

ECCN – Export Control Classification Number :

If you do not have your software classified with an ECCN, please kindly answer the following questions so that we may self-assess:

1, Does the Software perform any encryption or utilize any encryption processes?  Y/N
2. If the answer is YES to question 1, please indicate if the encryption is co

[2018-06-13 18:19] rwmajor2 opened #292 "Windows Docker Container with Anaconda?"
I am curious if there is any attempts/success and building a Windows Docker container with Anaconda so that Jupyter Notebooks can be run inside the container.

Thanks.

[2018-06-13 18:43] insertinterestingnamehere commented on #292
https://github.com/Anaconda-Platform/anaconda-build/pull/287 was an initial pass at putting together a generic container with Anaconda and some related build tools in it. At the time there were some issues using packages that relied on Fortran. It's likely that those issues and others I worked around at the time have been resolved upstream since then.

I never tried running Jupyter from there, but

[2019-01-17 03:09] #271 closed

[2019-01-17 03:09] #284 closed, assigned to nobody

[2019-01-17 03:09] #285 closed, assigned to nobody

[2019-03-11 23:25] srossross commented on #163
Can someone please un-assign me from this issue? and all other anaconda issues? I'm probably not going to get around to this one. :) and I have no longer have access to un-assign myself.